.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(9, 35, 50, 0.4941176471);
  backdrop-filter: blur(0.5vw);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  // display: none;
}

.modalOverlayOpacity {
  display: flex;
  animation-duration: 0.3s;
  animation-name: slidein;
}

.modalOverlayOpacityNone {
  display: none;
}

@keyframes slidein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modalContent {
  background: white;
  padding: 3vw 3vw;
  padding-top: 2.5vw;
  border-radius: 0.5vw;
  width: 100%;
  max-width: 37vw;
  position: relative;

  & h2 {
    display: flex;
    justify-content: center;
    font-size: 2.5vw;
    color: black;
    font-family: var(--font-akatab), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
  }
}

@media (max-width: 1024px) {
  .modalContent {
    padding: 5vw 3vw;
    padding-top: 4vw;
    border-radius: 0.75vw;
    max-width: 70vw;

    & h2 {
      font-size: 5vw;
    }
  }
}

@media (max-width: 576px) {
  .modalContent {
    padding: 8vw 5vw;
    padding-top: 8vw;
    border-radius: 1vw;
    max-width: 80vw;

    & h2 {
      font-size: 8vw;
    }
  }
}

.modalOverlayCloseIcon {
  width: 1vw;
  height: 1vw;
  position: absolute;
  fill: black;
  top: 0.5vw;
  right: 0.5vw;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .modalOverlayCloseIcon {
    width: 2.5vw;
    height: 2.5vw;
    top: 1vw;
    right: 1vw;
  }
}

@media (max-width: 576px) {
  .modalOverlayCloseIcon {
    width: 3.5vw;
    height: 3.5vw;
    top: 2vw;
    right: 2vw;
  }
}

.modalOverlayForm {
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
  gap: 1.2vw;
}

@media (max-width: 1024px) {
  .modalOverlayForm {
    margin-top: 4vw;
    gap: 2.5vw;
  }
}

@media (max-width: 576px) {
  .modalOverlayForm {
    margin-top: 5vw;
    gap: 4vw;
  }
}

.modalOverlayFormNameAndSurname {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1vw;

  & .modalOverlayFormInputErrorColumn {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .modalOverlayFormNameAndSurname {
    flex-direction: column;
    gap: 4vw;
  }
}

.modalOverlayFormInputErrorColumn {
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.7vw 1.5vw;
  border: 0.01vw solid #9ea6b8;
  border-radius: 0.4vw;
  background-color: #f2f6ff;

  font-size: 0.85vw;
  font-family: var(--font-albertSans), sans-serif;
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  outline: black;

  &::placeholder {
    color: #9ea6b8;
  }
}

@media (max-width: 1024px) {
  input {
    padding: 1.5vw 1.5vw;
    border-radius: 0.5vw;
    font-size: 2vw;
  }
}

@media (max-width: 576px) {
  input {
    padding: 2.5vw 4vw;
    border-radius: 1vw;
    font-size: 4vw;
  }
}

.modalContentErrorText {
  color: red;
  font-size: 0.815vw;
  font-family: var(--font-akatab), sans-serif;
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
}

@media (max-width: 1024px) {
  .modalContentErrorText {
    font-size: 1.8vw;
  }
}

@media (max-width: 576px) {
  .modalContentErrorText {
    font-size: 3vw;
  }
}

.modalContentSubmitBlock {
  display: flex;
  justify-content: center;
}

.modalContentSubmitButton {
  width: 50%;
  border: 0;
  border-radius: 0.5vw;
  font-size: 1.5vw;
  padding: 0.4vw 0vw;
  color: white;
  font-family: var(--font-akatab), sans-serif;
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  text-transform: uppercase;
  background-color: #d74f3e;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

@media (max-width: 1024px) {
  .modalContentSubmitButton {
    width: 50%;
    border-radius: 0.5vw;
    font-size: 2.6vw;
    padding: 1vw 0vw;
  }
}

@media (max-width: 576px) {
  .modalContentSubmitButton {
    width: 55%;
    border-radius: 1vw;
    font-size: 5vw;
    padding: 1.5vw 0vw;
  }
}

.modalContentSubmitButton:hover {
  opacity: 0.8;
}
