.viewCourseScreenMainBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3vw;
}

@media (max-width: 1024px) {
  .viewCourseScreenMainBlock {
    display: none;
  }
}

.viewCourseScreenMainBlockPhone {
  display: none;
}

@media (max-width: 1024px) {
  .viewCourseScreenMainBlockPhone {
    display: flex;
    margin-top: 4vw;
  }
}
