.speakersScreenBlockMain {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  margin-top: 3vw;
  padding-bottom: 3vw;
}

@media (max-width: 1024px) {
  .speakersScreenBlockMain {
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    margin-top: 5vw;
    padding-bottom: 5vw;
  }
}

@media (max-width: 576px) {
  .speakersScreenBlockMain {
    flex-direction: column;
    align-items: center;
    gap: 10vw;
    margin-top: 10vw;
    padding-bottom: 5vw;
  }
}

.speakersScreenBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 50%;
  border-radius: 1vw;
  padding: 2vw;
}

@media (max-width: 1024px) {
  .speakersScreenBlock {
    width: 70%;
    border-radius: 2vw;
    padding: 5vw;
  }
}

@media (max-width: 576px) {
  .speakersScreenBlock {
    width: auto;
    border-radius: 4vw;
    padding: 5vw;
    padding-bottom: 10vw;
  }
}

.imageSpeaker {
  width: 5vw;
  border-radius: 10vw;
}

@media (max-width: 1024px) {
  .imageSpeaker {
    width: 10.5vw;
    border-radius: 15vw;
  }
}

@media (max-width: 576px) {
  .imageSpeaker {
    width: 20vw;
    border-radius: 20vw;
  }
}

.nameSpeaker {
  display: flex;
  color: black;
  font-size: 1.15vw;
  font-family: var(--font-hankenGrotesk), sans-serif;
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineh-normal);
  text-transform: uppercase;
  margin-top: 1.4vw;
}

@media (max-width: 1024px) {
  .nameSpeaker {
    font-size: 2.6vw;
    margin-top: 2.4vw;
  }
}

@media (max-width: 576px) {
  .nameSpeaker {
    font-size: 5vw;
    margin-top: 5vw;
  }
}

.subText {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #c6c6c6;
  font-size: 0.85vw;
  font-family: var(--font-hankenGrotesk), sans-serif;
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);

  &.lineAndUpper {
    position: relative;
    text-transform: uppercase;
    margin-top: 1.4vw;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      width: 7.8vw; /* Длина полос */
      height: 0.01vw; /* Толщина */
      background-color: lightgray;
    }

    &::before {
      left: 0;
      transform: translateY(-50%);
    }

    &::after {
      right: 0;
      transform: translateY(-50%);
    }
  }

  &.lineInstructor {
    &::before,
    &::after {
      width: 9.8vw; /* Длина полос */
    }
  }
}

@media (max-width: 1024px) {
  .subText {
    font-size: 1.8vw;
    border-bottom: 0.1vw solid #c6c6c6;
    padding-bottom: 2vw;

    &.phoneNone {
      display: none;
    }

    &.lineAndUpper {
      position: relative;
      text-transform: uppercase;
      margin-top: 1.4vw;

      &::before,
      &::after {
        content: none;
      }
    }

    &.lineInstructor {
      margin-top: 5vw;
      border: none;
    }
  }
}

@media (max-width: 576px) {
  .subText {
    font-size: 3.6vw;
    border-bottom: 0.1vw solid #c6c6c6;
    padding-bottom: 1vw;

    &.lineInstructor {
      display: none;
      margin-top: 5vw;
    }
  }
}

.linkedInSpeaker {
  display: flex;
  justify-content: center;
  padding: 0.3vw 0;
  width: 100%;
  background: #ff0000;
  color: white;
  font-size: 0.85vw;
  font-family: var(--font-hankenGrotesk), sans-serif;
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  border-radius: 3vw;
  cursor: pointer;
  margin-top: 1.4vw;

  &.youTubeSpeaker {
    color: #000000;
    background: #d9d9d9;
    margin-top: 0.5vw;
  }

  &.youTubeSpeakerPhone {
    display: none;
  }
}

@media (max-width: 1024px) {
  .linkedInSpeaker {
    padding: 1vw 0;
    font-size: 1.8vw;
    border-radius: 3vw;
    margin-top: 2.2vw;

    &.youTubeSpeaker {
      color: #000000;
      background: #d9d9d9;
      margin-top: 1vw;
    }
  }
}

@media (max-width: 576px) {
  .linkedInSpeaker {
    width: 65%;
    padding: 1.5vw 0;
    font-size: 3.6vw;
    border-radius: 5vw;
    margin-top: 5vw;

    &.youTubeSpeaker {
      display: none;
    }

    &.youTubeSpeakerPhone {
      display: flex;
      color: #000000;
      background: #d9d9d9;
      margin-top: 2vw;
    }
  }
}

.descriptionSpeakerBlock {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 1.4vw;

  & .descriptionSpeaker {
    color: #000000;
    font-size: 0.85vw;
    font-family: var(--font-hankenGrotesk), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    padding: 0;
    margin: 0;
    text-align: left;
  }
}

@media (max-width: 1024px) {
  .descriptionSpeakerBlock {
    margin-top: 2.4vw;

    & .descriptionSpeaker {
      font-size: 1.8vw;
    }
  }
}

@media (max-width: 576px) {
  .descriptionSpeakerBlock {
    margin-top: 5vw;

    & .descriptionSpeaker {
      font-size: 3.6vw;
    }
  }
}
