.viewCourseScreenList {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 1vw;

  & .viewCourseScreenItem {
    display: flex;
    flex-direction: row;
    gap: 1vw;

    & .viewCourseScreenIcon {
      display: flex;
      fill: black;
      width: 1.6vw;
      height: 1.6vw;
      width: 4%;
    }

    & h5 {
      font-size: 0.85vw;
      color: black;
      font-family: var(--font-akatab), sans-serif;
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-normal);
      width: 98%;
      margin-top: 0.4vw;
    }
  }
}

@media (max-width: 1024px) {
  .viewCourseScreenList {
    padding: 0;
    margin: 0;
    gap: 3vw;

    & .viewCourseScreenItem {
      display: flex;

      & .viewCourseScreenIcon {
        display: none;
      }

      & h5 {
        font-size: 1.8vw;
        width: 100%;
        margin-top: 0vw;
      }
    }
  }
}

@media (max-width: 576px) {
  .viewCourseScreenList {
    gap: 5vw;

    & .viewCourseScreenItem {
      & h5 {
        font-size: 3.6vw;
      }
    }
  }
}
