.footerScreenC {
  display: flex;
  flex-direction: column;
  background-color: #25293f;
  padding: 5vw 0;
}

@media (max-width: 1024px) {
  .footerScreenC {
    padding: 8vw 0;
  }
}

.emailAndGeneralTextBlock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .emailAndGeneralTextBlock {
    display: flex;
    flex-direction: column;
  }
}

.emailBlock {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  padding-right: 2vw;

  & h5 {
    font-size: 0.85vw;
    color: #ec6532;
    font-family: var(--font-albertSans), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    text-transform: uppercase;
    transition: 0.5s;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 1024px) {
  .emailBlock {
    justify-content: center;
    width: 100%;
    padding-right: 0vw;

    & h5 {
      font-size: 1.8vw;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.generalTextBlock {
  display: flex;
  width: 50%;
  border-left: 0.15vw solid white;
  padding-left: 2vw;

  & p {
    width: 55%;
    font-size: 0.85vw;
    color: white;
    font-family: var(--font-albertSans), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    text-transform: uppercase;
    margin: 0;
    padding: 1.5vw 0;
  }
}

@media (max-width: 1024px) {
  .generalTextBlock {
    justify-content: center;
    width: 100%;
    border-left: none;
    padding-left: 0vw;

    & p {
      width: 60%;
      text-align: center;
      font-size: 1.8vw;
      color: white;
      font-family: var(--font-albertSans), sans-serif;
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-normal);
      text-transform: uppercase;
      margin-top: 4vw;
      padding: 0;
      opacity: 0.5;
    }
  }
}

.privatLinksblock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3vw;

  & a {
    font-size: 0.85vw;
    color: white;
    font-family: var(--font-albertSans), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    text-transform: capitalize;
    border-left: 0.1vw solid white;
    padding: 0 2vw;
    transition: 0.5s;

    &:first-child {
      border-left: 0;
    }

    &:hover {
      opacity: 0.5;
    }
  }
}

@media (max-width: 1024px) {
  .privatLinksblock {
    margin-top: 5vw;

    & a {
      font-size: 1.8vw;
      border-left: 0.1vw solid white;
      padding: 0 3vw;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.iconsBlock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3vw;
  gap: 3vw;

  & .icon {
    width: 1.5vw;
    height: 1.5vw;
    fill: #ec6532;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
}

@media (max-width: 1024px) {
  .iconsBlock {
    margin-top: 6vw;
    gap: 5vw;

    & .icon {
      width: 3vw;
      height: 3vw;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.certificationText {
  display: flex;
  justify-content: center;
  margin-top: 3vw;
  font-size: 0.85vw;
  color: white;
  font-family: var(--font-albertSans), sans-serif;
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .certificationText {
    margin-top: 6vw;
    font-size: 1.8vw;
    text-align: center;
    opacity: 0.5;
  }
}

.intermediaryBuyNow {
  display: none;
}

@media (max-width: 1024px) {
  .intermediaryBuyNow {
    display: flex;
    width: 70%;
  }
}
