@media (max-width: 1024px) {
  .viewCourseScreenList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 2vw;
  }

  .viewCourseScreenItem {
    padding: 0;
    & h5 {
      font-size: 1.8vw;
      font-family: var(--font-albertSans), sans-serif;
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-normal);
      padding: 0;
    }
  }
}
