.backgroundThankPage {
  width: 100%;
  background-color: #29282d;
  display: flex;
  height: 100vh;
}

.container {
  width: 68.75vw;
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .container {
    width: 79.167vw;
  }
}

@media (max-width: 576px) {
  .container {
    width: 82vw;
  }
}

.thankPageMainBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  & .title {
    font-size: 4.8vw;
    color: white;
    font-family: var(--font-hankenGrotesk), sans-serif;
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-normal);
  }

  & .textForLink {
    font-size: 0.85vw;
    color: white;
    font-family: var(--font-hankenGrotesk), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    margin: 0;
    margin-top: 2.5vw;
    padding: 0 0.75vw;
    padding-bottom: 0.75vw;
    border-bottom: 0.2vw solid rgba(217, 217, 217, 0.3);

    & a {
      color: #f7bb0d;
      font-weight: var(--font-weight-bold);
      text-decoration: underline;
      transition: 0.5s ease-in-out;

      &:hover {
        text-decoration: none;
      }
    }

    &.contactUs {
      padding: 0;
      border: 0;
      margin-top: 1vw;
    }
  }

  & .buttonToHomePage {
    display: flex;
    font-size: 0.85vw;
    color: white;
    font-family: var(--font-hankenGrotesk), sans-serif;
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-normal);
    background-color: #ff0000;
    padding: 0.4vw 2.4vw;
    border-radius: 2vw;
    margin-top: 2.5vw;
    transition: 0.5s ease-in-out;

    &:hover {
      box-shadow: 0px 0vw 1vw 0vw #ff0000;
    }
  }
}

@media (max-width: 1024px) {
  .thankPageMainBlock {
    & .title {
      font-size: 9vw;
    }

    & .textForLink {
      font-size: 1.8vw;
      margin-top: 4vw;
      padding: 0 1vw;
      padding-bottom: 1.5vw;
      border-bottom: 0.5vw solid rgba(217, 217, 217, 0.3);
      text-align: center;

      & a {
        text-decoration: underline;
        transition: 0s ease-in-out;

        &:hover {
          text-decoration: underline;
        }
      }

      &.contactUs {
        margin-top: 1.5vw;
      }
    }

    & .buttonToHomePage {
      font-size: 1.8vw;
      padding: 0.9vw 4vw;
      border-radius: 3vw;
      margin-top: 4vw;
      transition: 0s ease-in-out;

      &:hover {
        box-shadow: none;
      }
    }
  }
}

@media (max-width: 576px) {
  .thankPageMainBlock {
    & .title {
      font-size: 14vw;
    }

    & .textForLink {
      font-size: 3.6vw;
      margin-top: 6vw;
      padding: 0 1vw;
      padding-bottom: 3vw;
      border-bottom: 1vw solid rgba(217, 217, 217, 0.3);
      text-align: center;

      &.contactUs {
        margin-top: 3vw;
      }
    }

    & .buttonToHomePage {
      font-size: 3.6vw;
      padding: 1.5vw 6vw;
      border-radius: 5vw;
      margin-top: 6vw;
    }
  }
}
