.trustedScreenBlocks {
  background-color: #092332;
  margin-top: 1.5vw;
  border-bottom: 0.01vw solid #d9d9d9;

  &.trustedScreenBlocksC {
    background-color: #25293f;
    margin-top: 0vw;
    border: 0;
  }
}

@media (max-width: 1024px) {
  .trustedScreenBlocks {
    margin-top: 3vw;
  }
}

@media (max-width: 576px) {
  .trustedScreenBlocks {
    margin-top: 6vw;
  }
}

.trustedScreenBlock {
  display: flex;
  justify-content: center;
  padding: 0.5vw 2vw;
}

@media (max-width: 1024px) {
  .trustedScreenBlock {
    padding: 1.5vw 1vw;
  }
}

@media (max-width: 576px) {
  .trustedScreenBlock {
    width: auto;
    padding: 1.5vw 0vw;
  }
}

.trustedScreenImages {
  filter: grayscale(100%) contrast(0.5);
  transition: 0.3s;

  &:hover {
    filter: grayscale(0) contrast(1);
  }
}

@media (max-width: 1024px) {
  .trustedScreenImages {
    width: 80%;
    filter: grayscale(0) contrast(1);
  }
}

@media (max-width: 576px) {
  .trustedScreenImages {
    width: 60%;
  }
}
