.modalContent {
  display: flex;
  flex-direction: column;
  background: #25293f;
  padding: 1.5vw 1.5vw;
  border-radius: 0.5vw;
  margin-right: 1.1vw;
  width: 26%;

  & h2 {
    display: flex;
    justify-content: center;
    font-size: 1.4vw;
    color: white;
    font-family: var(--font-alata), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
  }
}

@media (max-width: 1024px) {
  .modalContent {
    padding: 5vw 3vw;
    padding-top: 4vw;
    border-radius: 0.75vw;
    max-width: 70vw;

    & h2 {
      font-size: 5vw;
    }
  }
}

@media (max-width: 576px) {
  .modalContent {
    padding: 8vw 5vw;
    padding-top: 8vw;
    border-radius: 1vw;
    max-width: 80vw;

    & h2 {
      font-size: 8vw;
    }
  }
}

.modalOverlayForm {
  display: flex;
  flex-direction: column;
  margin-top: 1.5vw;
  gap: 0.5vw;
}

@media (max-width: 1024px) {
  .modalOverlayForm {
    margin-top: 4vw;
    gap: 2.5vw;
  }
}

@media (max-width: 576px) {
  .modalOverlayForm {
    margin-top: 5vw;
    gap: 4vw;
  }
}

.modalOverlayFormInputErrorColumn {
  display: flex;
  flex-direction: column;

  & .iconAndInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-bottom: 0.1vw solid white;

    & .iconInput {
      width: 1.1vw;
      height: 1.1vw;
      fill: white;
    }
  }

  & input {
    border: 0;
    background: none;
    border-radius: 0;
    padding: 0.4vw 0.8vw;
    font-size: 0.9vw;
    font-family: var(--font-albertSans), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    color: white;
    outline: black;
    width: 100%;

    &::placeholder {
      color: white;
    }
  }
}

@media (max-width: 1024px) {
  input {
    padding: 1.5vw 1.5vw;
    border-radius: 0.5vw;
    font-size: 2vw;
  }
}

@media (max-width: 576px) {
  input {
    padding: 2.5vw 4vw;
    border-radius: 1vw;
    font-size: 4vw;
  }
}

.modalContentErrorText {
  color: red;
  font-size: 0.815vw;
  font-family: var(--font-albertSans), sans-serif;
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
}

@media (max-width: 1024px) {
  .modalContentErrorText {
    font-size: 1.8vw;
  }
}

@media (max-width: 576px) {
  .modalContentErrorText {
    font-size: 3vw;
  }
}

.modalContentSubmitBlock {
  display: flex;
  justify-content: center;
}

.modalContentSubmitButton {
  width: 100%;
  border: 0;
  border-radius: 0.5vw;
  font-size: 1.6vw;
  padding: 0.35vw 0vw;
  color: white;
  font-family: var(--font-albertSans), sans-serif;
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  text-transform: uppercase;
  background-color: #ec6532;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-top: 0.5vw;
}

@media (max-width: 1024px) {
  .modalContentSubmitButton {
    width: 50%;
    border-radius: 0.5vw;
    font-size: 2.6vw;
    padding: 1vw 0vw;
  }
}

@media (max-width: 576px) {
  .modalContentSubmitButton {
    width: 55%;
    border-radius: 1vw;
    font-size: 5vw;
    padding: 1.5vw 0vw;
  }
}

.modalContentSubmitButton:hover {
  opacity: 0.8;
}

.formPrivacyPolicy {
  display: flex;
  flex-direction: column;
  align-items: center;

  & p {
    padding: 0;
    margin: 0;
    margin-top: 0.5vw;
    text-align: center;
    font-size: 0.75vw;
    color: white;
    font-family: var(--font-albertSans), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
  }
}
