@media (max-width: 576px) {
  .priceScreenInfoMain {
    margin-top: 5vw;
    padding-bottom: 5vw;
  }

  .priceScreenInfoBlock {
    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
      display: flex;
      font-size: 3.4vw;
      color: white;
      font-family: var(--font-hankenGrotesk), sans-serif;
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-normal);
      margin: 0;
      margin-top: 2vw;

      &.colorYellow {
        color: #ffea00;
        margin-top: 0vw;
      }
    }

    & h5 {
      display: flex;
      font-size: 4vw;
      color: white;
      font-family: var(--font-hankenGrotesk), sans-serif;
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-normal);
      margin-top: 2vw;
    }

    & .descriptionCourse {
      display: flex;
      font-size: 3.6vw;
      color: white;
      font-family: var(--font-hankenGrotesk), sans-serif;
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-normal);
      margin-top: 8vw;
    }
  }

  .priceScreenInfoForCourse {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 3vw;
    margin-top: 8vw;
    padding: 8vw 0vw;
    padding-bottom: 1.5vw;
    position: relative;

    & .nameCourse {
      display: flex;
      font-size: 5vw;
      color: black;
      font-family: var(--font-hankenGrotesk), sans-serif;
      font-weight: var(--font-weight-bold);
      line-height: var(--font-lineh-normal);
      text-align: center;
      width: 70%;
    }

    & .blockWithInfoPriceAndDiscount {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 4vw;
      margin-top: 2vw;

      & .colorRed {
        display: flex;
        font-size: 8vw;
        color: #ff0000;
        font-family: var(--font-hankenGrotesk), sans-serif;
        font-weight: var(--font-weight-bold);
        line-height: var(--font-lineh-normal);
        text-align: center;
        margin: 0;
      }

      & .discountPercentText {
        font-size: 6vw;
        color: #919191;
        font-family: var(--font-hankenGrotesk), sans-serif;
        font-weight: var(--font-weight-normal);
        line-height: var(--font-lineh-normal);
        text-decoration: line-through;
        margin: 0;
        margin-bottom: 0.5vw;
      }
    }

    & .categoryCourse {
      display: flex;
      font-size: 2.5vw;
      color: black;
      font-family: var(--font-hankenGrotesk), sans-serif;
      font-weight: var(--font-weight-bold);
      line-height: var(--font-lineh-normal);
      text-align: center;
      text-transform: uppercase;
    }

    & .accessCourse {
      display: flex;
      font-size: 3.5vw;
      color: black;
      font-family: var(--font-hankenGrotesk), sans-serif;
      font-weight: var(--font-weight-bold);
      line-height: var(--font-lineh-normal);
      text-align: center;
      text-transform: uppercase;
      margin-top: 3vw;
    }
  }

  .blockInfoAboutCourseBlockRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 6vw;
  }

  .blockInfoAboutCourseBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 0.01vw solid #c6c6c6;
    width: 33.33%;

    &.displayNone {
      display: none;
    }

    &:last-child {
      border-right: none;
    }

    & h6 {
      display: flex;
      font-size: 4vw;
      color: black;
      font-family: var(--font-hankenGrotesk), sans-serif;
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-normal);
      margin: 0;

      &:first-child {
        font-size: 3.6vw;
      }
    }
  }

  .buttonNow {
    display: flex;
    justify-content: center;
    width: 45%;
    font-size: 3.6vw;
    padding: 1.5vw 0vw;
    background: #ff0000;
    color: white;
    font-family: var(--font-hankenGrotesk), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    border: none;
    border-radius: 5vw;
    cursor: pointer;
    margin-top: 8vw;
  }

  .availableText {
    color: red;
    font-family: var(--font-hankenGrotesk), sans-serif;
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-normal);
    margin: 0;
    margin-top: 10vw;
    font-size: 4vw;
  }

  .blockWithInfoMoreInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vw;

    & .downInfoText {
      display: flex;
      font-size: 4.5vw;
      color: black;
      font-family: var(--font-hankenGrotesk), sans-serif;
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-normal);
      margin: 0;
    }

    & .icon {
      fill: black;
      width: 4.5vw;
      height: 4.5vw;
    }
  }

  .expandedContent {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    padding: 0 7vw;
    padding-bottom: 8vw;
    & ul {
      padding: 0;
      margin: 0;
      & li {
        font-size: 3.6vw;
        color: black;
        font-family: var(--font-hankenGrotesk), sans-serif;
        font-weight: var(--font-weight-normal);
        line-height: var(--font-lineh-normal);
        text-transform: uppercase;
        margin-top: 3vw;
      }
    }
  }
}

@media (max-width: 1024px) {
  .timerTablet {
    display: flex;
    margin-top: 5vw;

    & .textAndTimerBlock {
      display: flex;
      flex-direction: column;
      width: 100%;

      & p {
        font-size: 6vw;
        color: #ffde01;
        text-align: center;
        font-family: var(--font-hankenGrotesk), sans-serif;
        font-weight: var(--font-weight-bold);
        line-height: var(--font-lineh-normal);
        margin: 0;

        &.descriptionTimer {
          font-size: 5vw;
          color: white;
          margin-top: 1.5vw;
        }
      }

      & .timer {
        display: flex;
        justify-content: center;
        background-color: #494750;
        border-radius: 3vw;
        padding: 4vw 1vw;
        margin-top: 3vw;

        & span {
          display: flex;
          flex-direction: row;
          gap: 1vw;
          padding: 1.5vw 3.5vw;
          color: white;
          font-size: 6vw;
          font-family: var(--font-hankenGrotesk), sans-serif;
          font-weight: var(--font-weight-bold);
          line-height: var(--font-lineh-small);

          &.daysYellow {
            color: #ffde01;
          }

          &:last-child {
            border: 0;
          }

          & span {
            align-items: flex-end;
            padding: 0;
            color: #919191;
            font-size: 5vw;
            padding-bottom: 0.05vw;
            border: 0;
          }
        }
      }
    }
  }
}

.discountPercentBlock {
  position: absolute;
  right: -0.2vw;
  top: 63vw;

  & .discountPercentBlockRelative {
    position: relative;

    & img {
      width: 22vw;
    }

    & h6 {
      display: flex;
      position: absolute;
      top: 43%;
      left: 12%;
      font-size: 6vw;
      color: white;
      font-family: var(--font-albertSans), sans-serif;
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-normal);
    }
  }
}
