@media (max-width: 576px) {
  .priceScreenInfoMain {
    margin-top: 5vw;
    padding-bottom: 5vw;
  }

  .priceScreenInfoBlock {
    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
      display: flex;
      font-size: 3.4vw;
      color: white;
      font-family: var(--font-hankenGrotesk), sans-serif;
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-normal);
      margin: 0;
      margin-top: 2vw;

      &.colorYellow {
        color: #ffea00;
        margin-top: 0vw;
      }
    }

    & h5 {
      display: flex;
      font-size: 4vw;
      color: white;
      font-family: var(--font-hankenGrotesk), sans-serif;
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-normal);
      margin-top: 2vw;
    }

    & .descriptionCourse {
      display: flex;
      font-size: 3.6vw;
      color: white;
      font-family: var(--font-hankenGrotesk), sans-serif;
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-normal);
      margin-top: 8vw;
    }
  }

  .priceScreenInfoForCourse {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 3vw;
    margin-top: 8vw;
    padding: 8vw 0vw;

    & .nameCourse {
      display: flex;
      font-size: 5vw;
      color: black;
      font-family: var(--font-hankenGrotesk), sans-serif;
      font-weight: var(--font-weight-bold);
      line-height: var(--font-lineh-normal);
      text-align: center;
      width: 70%;
    }

    & .priceCourse {
      display: flex;
      font-size: 8vw;
      color: #ff0000;
      font-family: var(--font-hankenGrotesk), sans-serif;
      font-weight: var(--font-weight-bold);
      line-height: var(--font-lineh-normal);
      text-align: center;
      margin-top: 5vw;
    }

    & .categoryCourse {
      display: flex;
      font-size: 2.5vw;
      color: black;
      font-family: var(--font-hankenGrotesk), sans-serif;
      font-weight: var(--font-weight-bold);
      line-height: var(--font-lineh-normal);
      text-align: center;
      text-transform: uppercase;
    }
  }

  .blockInfoAboutCourseBlockRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 6vw;
  }

  .blockInfoAboutCourseBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 0.01vw solid #c6c6c6;
    width: 33.33%;

    &.displayNone {
      display: none;
    }

    &:last-child {
      border-right: none;
    }

    & h6 {
      display: flex;
      font-size: 4vw;
      color: black;
      font-family: var(--font-hankenGrotesk), sans-serif;
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-normal);
      margin: 0;

      &:first-child {
        font-size: 3.6vw;
      }
    }
  }

  .buttonNow {
    display: flex;
    justify-content: center;
    width: 45%;
    font-size: 3.6vw;
    padding: 1.5vw 0vw;
    background: #ff0000;
    color: white;
    font-family: var(--font-hankenGrotesk), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    border: none;
    border-radius: 5vw;
    cursor: pointer;
    margin-top: 8vw;
  }
}
