.cartBackgroundMain {
  display: flex;
  width: 100%;
  background-color: rgb(17, 17, 17);
  height: 100%;
  padding-bottom: 10vw;

  &.cartBackgroundMainFull {
    height: 100vh;
    padding-bottom: 0vw;
  }
}

@media (max-width: 1024px) {
  .cartBackgroundMain {
    padding-bottom: 20vw;
  }
}

@media (max-width: 576px) {
  .cartBackgroundMain {
    padding-bottom: 50vw;
  }
}

.cartContainer {
  width: 68.75vw;
  margin: 0 auto;
  max-width: 100%;
  background-color: rgb(17, 17, 17);

  & .cartTitle {
    font-size: 2.15vw;
    color: white;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-small);
    padding-top: 1vw;
  }
}

@media (max-width: 1024px) {
  .cartContainer {
    width: 92vw;

    & .cartTitle {
      font-size: 3.6vw;
      padding-top: 1.5vw;
    }
  }
}

@media (max-width: 576px) {
  .cartContainer {
    width: 90vw;

    & .cartTitle {
      text-align: center;
      font-size: 5.6vw;
      padding-top: 3vw;
    }
  }
}

.emptyCart {
  font-size: 0.85vw;
  color: #919191;
  font-family: var(--font-roboto);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-small);
}

@media (max-width: 1024px) {
  .emptyCart {
    font-size: 1.8vw;
  }
}

@media (max-width: 576px) {
  .emptyCart {
    font-size: 3.6vw;
  }
}

.cartLeftRightBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1vw;
  padding-top: 2.2vw;
}

@media (max-width: 1024px) {
  .cartLeftRightBlock {
    flex-direction: column;
    gap: 0vw;
    padding-top: 3vw;
  }
}

@media (max-width: 576px) {
  .cartLeftRightBlock {
    padding-top: 6vw;
  }
}

.cartLeftBlock {
  display: flex;
  flex-direction: column;
  width: 67%;
}

@media (max-width: 1024px) {
  .cartLeftBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .cartLeftBlock {
    margin-top: 6vw;
  }
}

.cartTotalBlock {
  display: flex;
  width: 32%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e1e;
  border-radius: 0.75vw;
  padding-top: 1.5vw;
  padding-bottom: 2.5vw;

  & .promoCodeAndButtonBuy {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    & .cartTotalButtonBuyBlock {
      display: flex;
      justify-content: center;
      width: 100%;
      border-top: 0.15vw solid #111111;
      padding-top: 2vw;
      margin-top: 2vw;

      & .cartTotalButtonBuy {
        background-color: #ff7b00;
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.6vw 1.35vw;
        border-radius: 0.3vw;
        font-size: 0.85vw;
        color: white;
        font-family: var(--font-roboto);
        font-weight: var(--font-weight-normal);
        line-height: var(--font-lineh-small);
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
          box-shadow: 0px 0vw 1vw 0vw #ec6532;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .cartTotalBlock {
    width: auto;
    border-radius: 0vw;
    padding: 3vw 2.5vw;
    padding-bottom: 5vw;
    border-bottom-right-radius: 1.5vw;
    border-bottom-left-radius: 1.5vw;
    border-top: 0.1vw solid #919191;

    & .promoCodeAndButtonBuy {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      width: 100%;
      margin-top: 4vw;

      & .cartTotalButtonBuyBlock {
        width: auto;
        height: 100%;
        border-top: 0vw;
        padding-top: 0vw;
        margin-top: 0vw;

        & .cartTotalButtonBuy {
          padding: 1vw 2.2vw;
          border-radius: 0.75vw;
          font-size: 1.8vw;

          &:hover {
            box-shadow: none;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .cartTotalBlock {
    padding: 5vw 5vw;
    padding-bottom: 8vw;
    border-bottom-right-radius: 3vw;
    border-bottom-left-radius: 3vw;

    & .promoCodeAndButtonBuy {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      width: 100%;
      margin-top: 4vw;

      & .promoCodeBlockPhone {
        display: none;
      }

      & .cartTotalButtonBuyBlock {
        justify-content: center;
        width: 100%;
        height: 100%;
        border-top: 0vw;
        padding-top: 0vw;
        margin-top: 3vw;

        & .cartTotalButtonBuy {
          padding: 2.2vw 6vw;
          border-radius: 1vw;
          font-size: 3.6vw;
        }
      }
    }
  }
}

.backButtonBlock {
  display: flex;
  align-items: center;
  padding-top: 2.2vw;

  & .backButton {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: #919191;
    font-size: 0.85vw;
    cursor: pointer;
    transition: color 0.3s;
    gap: 0.2vw;
    transition: 0.3s ease-in-out;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-small);
    padding: 0;

    &:hover {
      opacity: 0.7;
    }
  }

  & .backIcon {
    fill: #919191;
    width: 1vw;
    height: 1vw;
  }
}

@media (max-width: 1024px) {
  .backButtonBlock {
    padding-top: 3vw;

    & .backButton {
      font-size: 1.8vw;
      gap: 0.5vw;

      &:hover {
        opacity: 1;
      }
    }

    & .backIcon {
      width: 2.25vw;
      height: 2.25vw;
    }
  }
}

@media (max-width: 576px) {
  .backButtonBlock {
    padding-top: 4vw;

    & .backButton {
      font-size: 3.6vw;
      gap: 0.5vw;
    }

    & .backIcon {
      width: 4vw;
      height: 4vw;
    }
  }
}

.cartSlider,
.cartPromocodePhone {
  display: none;
}

@media (max-width: 1024px) {
  .cartSlider {
    display: flex;
  }
}

@media (max-width: 576px) {
  .cartPromocodePhone {
    display: flex;
    justify-content: center;
  }
}
