.mainBackground {
  background-color: #29282d;
}

.container {
  width: 68.75vw;
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .container {
    width: 79.167vw;
  }
}

@media (max-width: 576px) {
  .container {
    width: 82vw;
  }
}

.titleScreens {
  font-size: 2.4vw;
  color: white;
  font-family: var(--font-hankenGrotesk), sans-serif;
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineh-normal);
  text-align: center;
  margin-top: 3vw;
}

@media (max-width: 1024px) {
  .titleScreens {
    font-size: 4.5vw;
    margin-top: 7vw;
  }
}

@media (max-width: 576px) {
  .titleScreens {
    font-size: 9vw;
    margin-top: 10vw;
  }
}

.backgroundHeadScreen {
  display: flex;
  background: url(/img/HeadScreenBackgroundB.png);
  background-color: #29282d;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 8vw;
}

@media (max-width: 1024px) {
  .backgroundHeadScreen {
    height: 129vw;
    background-position-x: -95vw;
  }
}

@media (max-width: 576px) {
  .backgroundHeadScreen {
    height: 225vw;
    background-position-x: -95vw;
  }
}

.whatsInsideScreenPhone,
.gamesScreenPhone,
.priceScreenBPhone {
  display: none;
}

@media (max-width: 1024px) {
  .whatsInsideScreenBNonePhone,
  .gamesScreenBNonePhone {
    display: none;
  }

  .whatsInsideScreenPhone,
  .gamesScreenPhone {
    display: flex;
  }
}

@media (max-width: 576px) {
  .priceScreenBNonePhone {
    display: none;
  }

  .priceScreenBPhone {
    display: flex;
  }
}
