.forWhomScreenBlock {
  display: flex;
  flex-direction: column;
  margin-top: 1vw;

  &:first-child {
    margin-top: 0vw;
  }
}
.forWhomScreenTitleList {
  font-size: 1.25vw;
  color: black;
  font-family: var(--font-akatab), sans-serif;
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineh-normal);
  text-transform: uppercase;
}

.forWhomScreenListTextTitle {
  font-size: 0.85vw;
  color: black;
  font-family: var(--font-akatab), sans-serif;
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  margin-top: 0.5vw;
}

.forWhomScreenList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 1vw;

  & li {
    font-size: 0.85vw;
    color: black;
    font-family: var(--font-akatab), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
  }
}
