.priceScreenInfoMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3vw;
  padding-bottom: 3vw;
}

.priceScreenInfoBlock {
  display: flex;
  flex-direction: column;
  width: 50%;

  & h3 {
    display: flex;
    font-size: 2vw;
    color: white;
    font-family: var(--font-hankenGrotesk), sans-serif;
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-normal);
  }

  & h6 {
    display: flex;
    font-size: 0.85vw;
    color: white;
    font-family: var(--font-hankenGrotesk), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    margin-top: 0.5vw;
  }

  & p {
    display: flex;
    font-size: 0.85vw;
    color: white;
    font-family: var(--font-hankenGrotesk), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    margin: 0;
    margin-top: 0.5vw;

    &.colorYellow {
      color: #ffea00;
      margin-top: 2.5vw;
    }
  }

  & h5 {
    display: flex;
    font-size: 1.15vw;
    color: white;
    font-family: var(--font-hankenGrotesk), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    margin-top: 0.5vw;
  }
}

.priceScreenInfoForCourse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 0.75vw;
  margin-top: 2.5vw;
  padding: 1.25vw 0vw;
}

.blockInfoAboutCourseBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 0.01vw solid #c6c6c6;
  width: 25%;

  &:last-child {
    border-right: none;
  }

  & h6 {
    display: flex;
    font-size: 1.15vw;
    color: black;
    font-family: var(--font-hankenGrotesk), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    margin: 0;

    &:first-child {
      font-size: 0.85vw;
    }

    &.colorRed {
      color: red;
      font-weight: var(--font-weight-bold);
    }
  }
}

.priceScreenImageBlock {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;

  & img {
    border-radius: 0.75vw;
    width: 21.9vw;
  }
}

.buttonNow {
  display: flex;
  justify-content: center;
  width: 9vw;
  font-size: 0.85vw;
  padding: 0.5vw 2vw;
  background: #ff0000;
  color: white;
  font-family: var(--font-hankenGrotesk), sans-serif;
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  border: none;
  border-radius: 3vw;
  cursor: pointer;
  margin-top: 2.5vw;
  transition: 0.5s ease-in-out;

  &:hover {
    box-shadow: 0px 0vw 1vw 0vw #ff0000;
  }
}
