.container {
  width: 68.75vw;
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
}

.titleScreens {
  font-size: 2.4vw;
  color: black;
  font-family: var(--font-akatab), sans-serif;
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineh-normal);
  margin-top: 3vw;
}

.backgroundHeadScreen {
  display: flex;
  background-color: #092332;
  padding-bottom: 5vw;
}

.halfBlocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
/* 
.stickyBlock {
  position: sticky;
  top: 20vw;
} */

.pageWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  width: 60.5%;
}

.rightColumn {
  display: flex;
  position: absolute;
  right: 0;
  width: 31%; /* Ширина правой колонки */
  height: 100%;
}

.backgroundViewCourseScreen {
  margin-top: 3vw;
  background-color: #f2f6ff;
  border-radius: 0.8vw;
  padding: 1vw 1vw;
  padding-right: 2.8vw;
}

.backgroundWhatsInsideScreen {
  height: 59vw;
}
.backgroundFooterScreen {
  display: flex;
  justify-content: center;
  padding: 3vw 0;
  background-color: #092332;
}
