.stickyBlockFlex {
  display: flex;
  width: 100%;
  position: relative;
}

.stickyBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 31vw;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 9vw;
  margin-top: -20vw;
  padding: 1vw;
  border-radius: 0.5vw;
  border: 0.05vw solid #656565;
  transition: 0.5s;

  &.staticProduct {
    position: static;
    top: 0;
    // width: 46.2%;
    width: 100%;
    margin-top: 1vw;
  }

  & .discountPercent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6vw;
    color: #d74f3e;
    font-family: var(--font-akatab), sans-serif;
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-normal);
    gap: 1vw;
    margin-top: 0vw;

    & span {
      font-size: 1vw;
      font-family: var(--font-akatab), sans-serif;
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-normal);
    }
  }

  & .stickyBlockVideoImage {
    display: flex;
    width: 100%;
    position: relative;

    & .imageProduct {
      width: 100%;
      height: 11vw;
      object-fit: cover; /* Обрезает изображение, сохраняя пропорции */
      object-position: center; /* Центрирует область обрезки (можно настроить, например, top, bottom, 20% 30%) */
      border-radius: 0.4vw;
    }

    & .stickyBlockVideo {
      display: flex;
      width: 100%;
      height: 11vw;
      border-radius: 0.4vw;
      border: 0;
      transition: 0.3s;
      filter: brightness(0.7);

      &:hover {
        filter: brightness(1);
      }
    }

    & .stickyBlockDiscountImage {
      position: absolute;
      bottom: 0vw;
      right: 0vw;
      width: 7vw;
    }

    & .categoryBlock {
      display: flex;
      position: absolute;
      top: 0.6vw;
      left: -1.05vw;
      background: #d74f3e;
      justify-content: center;
      padding: 0.25vw 0;
      width: 6vw;

      & .categoryText {
        font-size: 0.85vw;
        color: white;
        font-family: var(--font-akatab), sans-serif;
        font-weight: var(--font-weight-normal);
        line-height: var(--font-lineh-normal);
        margin: 0;
      }
    }
  }

  & .priceProductBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    margin-top: 1vw;

    & .stickyBlockPrice {
      display: flex;
      justify-content: center;
      font-size: 1.9vw;
      color: black;
      font-family: var(--font-akatab), sans-serif;
      font-weight: var(--font-weight-bold);
      line-height: var(--font-lineh-normal);
      margin-top: 0vw;

      &.stickyBlockPriceProductLine {
        font-size: 1.15vw;
        color: #919191;
        text-decoration: line-through;
      }
    }
  }

  & .stickyBlockPrice {
    font-size: 1.8vw;
    color: black;
    font-family: var(--font-akatab), sans-serif;
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-normal);
    margin-top: 1vw;
  }

  & .stickyBlockBuyNow {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    padding: 0.2vw 0vw;
    color: white;
    border: 0;
    font-family: var(--font-akatab), sans-serif;
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-normal);
    text-transform: uppercase;
    background-color: #d74f3e;
    text-align: center;
    border-radius: 0.25vw;
    margin-top: 1vw;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  & .availableText {
    font-size: 1vw;
    color: red;
    font-family: var(--font-akatab), sans-serif;
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-small);
    margin: 0;
    margin-top: 1.5vw;
  }

  & .expandedContent {
    display: flex;
    flex-direction: column;
    margin-top: 0.5vw;

    & ul {
      margin: 0;
      padding-left: 1vw;
      & li {
        font-size: 0.8vw;
        color: black;
        font-family: var(--font-akatab), sans-serif;
        font-weight: var(--font-weight-normal);
        line-height: var(--font-lineh-normal);
        text-transform: uppercase;
        margin-top: 0.75vw;
      }
    }
  }
}

@media (max-width: 1024px) {
  .stickyBlockFlex {
    display: flex;
    flex-direction: row;
    margin-top: 4vw;
  }

  .stickyBlock {
    height: 100%;
    background-color: none;
    position: -webkit-static;
    position: static;
    top: 0vw;
    margin-top: 0vw;
    padding: 4vw 2vw;
    border-radius: 0vw;
    border: 0.1vw solid black;
    border-radius: 2vw;

    & .discountPercent {
      font-size: 5vw;
      gap: 3vw;

      & span {
        font-size: 3.5vw;
      }
    }

    & .stickyBlockVideoImage {
      & .stickyBlockVideo {
        display: none;
      }

      & .stickyBlockDiscountImage {
        display: none;
      }

      & .categoryBlock {
        top: -1.5vw;
        left: -2.1vw;
        padding: 0.5vw 0;
        width: 16vw;

        & .categoryText {
          font-size: 2.6vw;
        }
      }
    }

    & .priceProductBlock {
      margin-top: 3vw;
      gap: 3vw;

      & .stickyBlockPrice {
        font-size: 6vw;
        margin: 0;

        &.stickyBlockPriceProductLine {
          font-size: 4vw;
        }
      }
    }

    & .stickyBlockPrice {
      font-size: 6vw;
      margin-top: 0vw;
    }

    & .stickyBlockBuyNow {
      width: 60%;
      font-size: 3.2vw;
      padding: 1vw 0vw;
      border-radius: 0.5vw;
      margin-top: 3vw;
    }

    & .availableText {
      font-size: 2.8vw;
      margin-top: 3.5vw;
    }

    & .expandedContent {
      display: flex;
      flex-direction: column;
      margin-top: 2vw;

      & ul {
        padding-left: 3vw;
        & li {
          font-size: 1.8vw;
          margin-top: 1.5vw;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .stickyBlockFlex {
    margin-top: 5vw;
  }

  .stickyBlock {
    padding: 6vw 5vw;
    & .discountPercent {
      font-size: 7vw;
      gap: 4vw;

      & span {
        font-size: 6vw;
      }
    }

    & .stickyBlockVideoImage {
      & .stickyBlockVideo {
        display: none;
      }

      & .categoryBlock {
        top: -3vw;
        left: -5.1vw;
        padding: 1vw 0;
        width: 25vw;

        & .categoryText {
          font-size: 4vw;
        }
      }
    }

    & .priceProductBlock {
      gap: 5vw;
      margin-top: 7vw;
      & .stickyBlockPrice {
        font-size: 7vw;

        &.stickyBlockPriceProductLine {
          font-size: 5vw;
          margin-top: 0vw;
        }
      }
    }

    & .stickyBlockPrice {
      font-size: 7vw;
    }

    & .stickyBlockBuyNow {
      width: 100%;
      font-size: 5.4vw;
      padding: 1.6vw 0vw;
      border-radius: 0.75vw;
      margin-top: 5vw;
    }

    & .availableText {
      font-size: 5vw;
      margin-top: 5vw;
    }

    & .expandedContent {
      display: flex;
      flex-direction: column;
      margin-top: 2vw;

      & ul {
        padding-left: 4vw;
        & li {
          font-size: 3.6vw;
          margin-top: 3vw;
        }
      }
    }
  }
}

.stickyBlockInfoAboutCourse {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 2vw;
}

@media (max-width: 1024px) {
  .stickyBlockInfoAboutCourse {
    margin-top: 3vw;
    width: 50%;
  }
}

@media (max-width: 576px) {
  .stickyBlockInfoAboutCourse {
    margin-top: 4vw;
    width: 100%;
  }
}

.stickyBlockInfoAboutCourseBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.333%;
  border-right: 0.1vw solid #c6c6c6;
  gap: 0.2vw;

  &:last-child {
    border-right: 0;
  }

  & h6 {
    font-size: 1vw;
    color: black;
    font-family: var(--font-hankenGrotesk), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);

    &:first-child {
      font-size: 0.85vw;
    }
  }
}

@media (max-width: 1024px) {
  .stickyBlockInfoAboutCourseBlock {
    width: 33.33%;
    gap: 0.25vw;

    & h6 {
      font-size: 2.6vw;

      &:first-child {
        font-size: 2.2vw;
      }
    }
  }
}

@media (max-width: 576px) {
  .stickyBlockInfoAboutCourseBlock {
    width: 33.33%;
    gap: 0.25vw;

    & h6 {
      font-size: 4vw;

      &:first-child {
        font-size: 3.6vw;
      }
    }
  }
}

.textAndTimerBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5vw;
  gap: 0.5vw;

  & .icon {
    width: 1vw;
    height: 1vw;
    fill: #d74f3e;
  }

  & p {
    font-size: 0.85vw;
    color: #7c7c7c;
    font-family: var(--font-hankenGrotesk), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    margin: 0;
  }

  & .timer {
    display: flex;
    gap: 0.25vw;
    & span {
      padding: 0.1vw 0vw;
      color: #d74f3e;
      font-size: 1vw;
      font-family: var(--font-akatab), sans-serif;
      font-weight: var(--font-weight-bold);
      line-height: var(--font-lineh-small);

      & span {
        color: #d74f3e;
        font-size: 1vw;
      }
    }
  }
}

@media (max-width: 1024px) {
  .textAndTimerBlock {
    margin-top: 2vw;
    gap: 1.5vw;

    & .icon {
      width: 3vw;
      height: 3vw;
    }

    & p {
      font-size: 2vw;
    }

    & .timer {
      display: flex;
      gap: 2vw;
      & span {
        padding: 0vw 0vw;
        font-size: 3vw;

        & span {
          font-size: 2.8vw;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .textAndTimerBlock {
    flex-direction: column;
    margin-top: 2vw;
    gap: 1vw;

    & .icon {
      display: none;
    }

    & p {
      font-size: 4vw;
    }

    & .timer {
      display: flex;
      gap: 4vw;
      & span {
        padding: 0vw 0vw;
        font-size: 6vw;

        & span {
          font-size: 5.5vw;
        }
      }
    }
  }
}
