.stickyBlockFlex {
  display: flex;
  width: 100%;
  position: relative;
}

.stickyBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 30vw;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 5vw;
  margin-top: -17.6vw;
  padding: 1vw;
  border-radius: 0.5vw;
  border: 0.05vw solid #656565;
  transition: 0.5s;

  & .discountPercent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    color: #d74f3e;
    font-family: var(--font-akatab), sans-serif;
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-normal);
    gap: 1vw;
    margin-top: 0.5vw;

    & span {
      font-size: 1.2vw;
      font-family: var(--font-akatab), sans-serif;
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-normal);
    }
  }

  & .stickyBlockVideoImage {
    display: flex;
    width: 100%;
    position: relative;

    & .stickyBlockVideo {
      display: flex;
      width: 100%;
      height: 11vw;
      border-radius: 0.4vw;
      border: 0;
      transition: 0.3s;
      filter: brightness(0.7);

      &:hover {
        filter: brightness(1);
      }
    }

    & .stickyBlockDiscountImage {
      position: absolute;
      top: -0.75vw;
      right: -0.75vw;
      width: 5vw;
    }
  }

  & .priceProductBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;

    & .stickyBlockPrice {
      display: flex;
      justify-content: center;
      font-size: 2vw;
      color: black;
      font-family: var(--font-akatab), sans-serif;
      font-weight: var(--font-weight-bold);
      line-height: var(--font-lineh-normal);
      margin-top: 0vw;

      &.stickyBlockPriceProductLine {
        font-size: 1.4vw;
        color: #919191;
        text-decoration: line-through;
      }
    }
  }

  & .stickyBlockPrice {
    font-size: 2vw;
    color: black;
    font-family: var(--font-akatab), sans-serif;
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-normal);
    margin-top: 1vw;
  }

  & .stickyBlockBuyNow {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    padding: 0.2vw 0vw;
    color: white;
    font-family: var(--font-akatab), sans-serif;
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-normal);
    text-transform: uppercase;
    background-color: #d74f3e;
    text-align: center;
    border-radius: 0.25vw;
    margin-top: 1vw;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  & .availableText {
    font-size: 1vw;
    color: red;
    font-family: var(--font-alata), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-small);
    margin: 0;
    margin-top: 1vw;
  }
}

@media (max-width: 1024px) {
  .stickyBlockFlex {
    display: flex;
    flex-direction: row;
    margin-top: 4vw;
  }

  .stickyBlock {
    height: 100%;
    background-color: none;
    position: -webkit-static;
    position: static;
    top: 0vw;
    margin-top: 0vw;
    padding: 0vw;
    border-radius: 0vw;
    border: 0vw;

    & .discountPercent {
      font-size: 5vw;
      gap: 3vw;
      margin-top: 1vw;

      & span {
        font-size: 3.5vw;
      }
    }

    & .stickyBlockVideoImage {
      & .stickyBlockVideo {
        display: none;
      }

      & .stickyBlockDiscountImage {
        display: none;
      }
    }

    & .priceProductBlock {
      gap: 3vw;

      & .stickyBlockPrice {
        font-size: 6vw;
        margin-top: 0vw;

        &.stickyBlockPriceProductLine {
          font-size: 4vw;
        }
      }
    }

    & .stickyBlockPrice {
      font-size: 6vw;
      margin-top: 0vw;
    }

    & .stickyBlockBuyNow {
      width: 50%;
      font-size: 2.8vw;
      padding: 0.6vw 0vw;
      border-radius: 0.5vw;
      margin-top: 1vw;
    }

    & .availableText {
      font-size: 2.8vw;
      margin-top: 1.5vw;
    }
  }
}

@media (max-width: 576px) {
  .stickyBlockFlex {
    margin-top: 5vw;
  }

  .stickyBlock {
    & .discountPercent {
      font-size: 7vw;
      gap: 4vw;
      margin-top: 3vw;

      & span {
        font-size: 6vw;
      }
    }

    & .stickyBlockVideoImage {
      & .stickyBlockVideo {
        display: none;
      }

      & .stickyBlockDiscountImage {
        display: flex;
        width: 12vw;
      }
    }

    & .priceProductBlock {
      flex-direction: column;
      gap: 0vw;
      & .stickyBlockPrice {
        font-size: 8vw;

        &.stickyBlockPriceProductLine {
          font-size: 6.5vw;
          margin-top: 2vw;
        }
      }
    }

    & .stickyBlockPrice {
      font-size: 8vw;
    }

    & .stickyBlockBuyNow {
      width: 100%;
      font-size: 5vw;
      padding: 1.2vw 0vw;
      border-radius: 0.75vw;
      margin-top: 3vw;
    }

    & .availableText {
      font-size: 5vw;
      margin-top: 3vw;
    }
  }
}

.stickyBlockInfoAboutCourse {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 2vw;
}

@media (max-width: 1024px) {
  .stickyBlockInfoAboutCourse {
    margin-top: 3vw;
    width: 50%;
  }
}

@media (max-width: 576px) {
  .stickyBlockInfoAboutCourse {
    margin-top: 4vw;
    width: 100%;
  }
}

.stickyBlockInfoAboutCourseBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.333%;
  border-right: 0.1vw solid #c6c6c6;
  gap: 0.2vw;

  &:last-child {
    border-right: 0;
  }

  & h6 {
    font-size: 1vw;
    color: black;
    font-family: var(--font-hankenGrotesk), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);

    &:first-child {
      font-size: 0.85vw;
    }
  }
}

@media (max-width: 1024px) {
  .stickyBlockInfoAboutCourseBlock {
    width: 33.33%;
    gap: 0.25vw;

    & h6 {
      font-size: 2.6vw;

      &:first-child {
        font-size: 2.2vw;
      }
    }
  }
}

@media (max-width: 576px) {
  .stickyBlockInfoAboutCourseBlock {
    width: 33.33%;
    gap: 0.25vw;

    & h6 {
      font-size: 4vw;

      &:first-child {
        font-size: 3.6vw;
      }
    }
  }
}
