.modalOverlay {
  display: flex;
  flex-direction: column;
  margin-top: 8.5vw;
  width: 100%;
}

@media (max-width: 1024px) {
  .modalOverlay {
    margin-top: 6vw;
  }
}

.modalOverlayForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0.75vw;
  padding: 0.75vw 1.5vw;
  margin-top: 1vw;

  & h2 {
    display: none;
  }
}

@media (max-width: 1024px) {
  .modalOverlayForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1vw;
    padding: 3vw 5vw;
    margin-top: 3vw;

    & h2 {
      display: flex;
      font-size: 3.8vw;
      color: black;
      font-family: var(--font-hankenGrotesk), sans-serif;
      font-weight: var(--font-weight-bold);
      line-height: var(--font-lineh-normal);
      padding-bottom: 1vw;
    }
  }
}

@media (max-width: 576px) {
  .modalOverlayForm {
    border-radius: 2vw;
    padding: 4vw 5vw;
    margin-top: 5vw;

    & h2 {
      font-size: 7vw;
      padding-bottom: 1vw;
    }
  }
}

.modalOverlayFormInputErrorColumn {
  display: flex;
  flex-direction: column;
  border-left: 0.1vw solid #c6c6c6;
  // padding-left: 4vw;
  padding: 0 3vw;

  &.firstChild {
    border-left: 0;
    padding-left: 0;
  }

  & label {
    display: flex;
    font-size: 0.85vw;
    color: black;
    font-family: var(--font-hankenGrotesk), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
  }

  & input {
    border: 0;
    background: none;
    padding: 0;
    font-size: 1.2vw;
    width: 13vw;
    color: #d9d9d9;
    font-family: var(--font-hankenGrotesk), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);

    &::placeholder {
      color: #d9d9d9;
      font-family: var(--font-hankenGrotesk), sans-serif;
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-normal);
    }
  }

  & .modalContentErrorText {
    color: red;
    font-size: 0.7vw;
    font-family: var(--font-akatab), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
  }
}

@media (max-width: 1024px) {
  .modalOverlayFormInputErrorColumn {
    border-left: none;
    padding: 0 0vw;
    margin-top: 2vw;

    & label {
      display: flex;
      font-size: 1.8vw;
    }

    & input {
      font-size: 2vw;
      width: 45vw;
      border-bottom: 0.01vw solid #bcbbbb;
      padding: 0.75vw 0;
      color: #bcbbbb;
      border-radius: 0;

      &::placeholder {
        color: #bcbbbb;
      }
    }

    & .modalContentErrorText {
      font-size: 1.8vw;
      margin-top: 1vw;
    }
  }
}

@media (max-width: 576px) {
  .modalOverlayFormInputErrorColumn {
    border-left: none;
    padding: 0 0vw;
    margin-top: 4vw;

    & label {
      font-size: 3.6vw;
    }

    & input {
      font-size: 3.6vw;
      width: 69vw;
      padding: 1.5vw 0;
    }

    & .modalContentErrorText {
      font-size: 3vw;
      margin-top: 1vw;
    }
  }
}

.modalContentSubmitButton {
  display: flex;
  background-color: #d9d9d9;
  border-radius: 1vw;
  border: 0;
  padding: 0.4vw 3.5vw;
  font-size: 0.85vw;
  font-family: var(--font-hankenGrotesk), sans-serif;
  color: black;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    box-shadow: 0px 0vw 1vw 0vw black;
  }
}

@media (max-width: 1024px) {
  .modalContentSubmitButton {
    border-radius: 3vw;
    padding: 0.85vw 7vw;
    font-size: 2.2vw;
    background-color: #bcbbbb;
    margin-top: 4vw;

    &:hover {
      box-shadow: none;
    }
  }
}

@media (max-width: 576px) {
  .modalContentSubmitButton {
    border-radius: 5vw;
    padding: 1.4vw 12vw;
    font-size: 3.6vw;
    margin-top: 5vw;
  }
}

.formPrivacyPolicy {
  display: none;
  justify-content: center;

  & p {
    width: 50%;
    font-size: 0.85vw;
    color: black;
    font-family: var(--font-hankenGrotesk), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    text-align: center;
    margin: 0;
    opacity: 0.5;

    & a {
      color: black;
      text-decoration: underline;
    }
  }
}

@media (max-width: 1024px) {
  .formPrivacyPolicy {
    display: flex;
    margin-top: 4vw;
    & p {
      width: 60%;
      font-size: 1.8vw;
    }
  }
}

@media (max-width: 576px) {
  .formPrivacyPolicy {
    & p {
      width: 90%;
      font-size: 3.6vw;
    }
  }
}
