.sampleCertificateBlock {
  display: flex;
  margin-top: 1vw;
}

@media (max-width: 1024px) {
  .sampleCertificateBlock {
    margin-top: 3vw;
  }
}

.sampleCertificate {
  width: 95%;
}
