.sampleCertificateBlock {
  display: flex;
  margin-top: 1vw;
}

@media (max-width: 1024px) {
  .sampleCertificateBlock {
    margin-top: 3vw;
  }
}

@media (max-width: 576px) {
  .sampleCertificateBlock {
    margin-top: 6vw;
  }
}

.sampleCertificate {
  width: 95%;
}

@media (max-width: 576px) {
  .sampleCertificate {
    width: 100%;
  }
}
