.speakerBlocks {
  margin-top: 2.5vw;

  &:first-child {
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
    gap: 2.5vw;
  }
}

@media (max-width: 1024px) {
  .speakerBlocksMain {
    margin-top: 3vw;
  }
  .speakerBlocks {
    margin-top: 3.5vw;

    &:first-child {
      margin-top: 0vw;
      gap: 3.5vw;
    }
  }
}

@media (max-width: 576px) {
  .speakerBlocksMain {
    margin-top: 6vw;
  }
  .speakerBlocks {
    margin-top: 7vw;

    &:first-child {
      margin-top: 0vw;
      gap: 7vw;
    }
  }
}

.speakerBlock {
  display: flex;
  flex-direction: row;
  background-color: #f2f6ff;
  padding: 1vw 1vw;
  border-radius: 0.5vw;
  gap: 2vw;
}

.speakerBlockRow {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

@media (max-width: 1024px) {
  .speakerBlock {
    padding: 2.25vw 2.25vw;
    border-radius: 1.5vw;
    gap: 2vw;
  }

  .speakerBlockRow {
    display: flex;
    flex-direction: row;
    gap: 4vw;
  }
}

@media (max-width: 576px) {
  .speakerBlock {
    flex-direction: column;
    padding: 4vw 4vw;
    border-radius: 3vw;
    gap: 4vw;
  }

  .speakerBlockRow {
    display: flex;
    flex-direction: row;
    gap: 5vw;
  }
}

.speakerImageblock {
  width: 21%;

  & .imageSpeaker {
    display: flex;
    width: 100%;
    border-radius: 0.5vw;
  }
}

@media (max-width: 1024px) {
  .speakerImageblock {
    width: 14%;

    & .imageSpeaker {
      display: flex;
      width: 100%;
      border-radius: 0.75vw;
    }
  }
}

@media (max-width: 576px) {
  .speakerImageblock {
    width: 25%;

    & .imageSpeaker {
      border-radius: 1.5vw;
    }
  }
}

.speakerInfoBlock {
  display: flex;
  width: 75%;
  flex-direction: column;

  & .nameSpeaker {
    display: flex;
    font-size: 1.25vw;
    color: black;
    font-family: var(--font-akatab), sans-serif;
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-normal);
    text-transform: uppercase;
  }

  & .descriptionSpeakerBlock {
    display: flex;
    flex-direction: column;
    margin-top: 0.5vw;

    & .descriptionSpeaker {
      display: flex;
      font-size: 0.85vw;
      color: black;
      font-family: var(--font-akatab), sans-serif;
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-normal);
    }
  }
}

.descriptionSpeakerBlockPhone,
.linkedInSpeaker.linkedInSpeakerPhone {
  display: none;
}

@media (max-width: 1024px) {
  .speakerInfoBlock {
    width: 75%;

    & .nameSpeaker {
      font-size: 2.6vw;
    }

    & .descriptionSpeakerBlock {
      margin-top: 1vw;

      & .descriptionSpeaker {
        font-size: 1.8vw;
      }
    }
  }
}

@media (max-width: 576px) {
  .speakerInfoBlock {
    width: 50%;

    & .nameSpeaker {
      font-size: 5.5vw;
      line-height: var(--font-lineh-small);
    }

    & .descriptionSpeakerBlockNone {
      display: none;
    }
  }

  .descriptionSpeakerBlockPhone {
    display: block;
    margin-top: 1vw;

    & .descriptionSpeaker {
      font-size: 3.2vw;
      color: black;
      font-family: var(--font-akatab), sans-serif;
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-normal);
    }
  }
}

.linkedInSpeaker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vw;
  text-decoration: none;
  transition: 0.5s;
  margin-top: 1vw;
  background-color: #0055ff;
  padding: 0.5vw 1.2vw;
  border-radius: 0.25vw;

  &:hover {
    box-shadow: 0px 0vw 1vw 0vw #0055ff;
  }

  & img {
    display: flex;
    width: 4.2vw;
  }
}

@media (max-width: 1024px) {
  .linkedInSpeaker {
    width: 8vw;
    margin-top: 2.5vw;
    padding: 1.25vw 2.5vw;
    border-radius: 0.5vw;

    &:hover {
      box-shadow: none;
    }

    & img {
      display: flex;
      width: 8vw;
    }
  }
}

@media (max-width: 576px) {
  .linkedInSpeakerNone {
    display: none;
  }

  .linkedInSpeaker.linkedInSpeakerPhone {
    display: flex;
    width: 20vw;
    margin-top: 1vw;
    padding: 2.2vw 2.5vw;
    border-radius: 1vw;

    & img {
      display: flex;
      width: 15vw;
    }
  }
}

.generalInfoBlock {
  display: flex;
  flex-direction: column;
  margin-left: 11.3vw;

  & .generalInfoText,
  .generalInfoTitle {
    display: flex;
    font-size: 0.85vw;
    color: black;
    font-family: var(--font-akatab), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    margin: 0;
  }

  & .generalInfoTitle {
    margin-top: 1vw;
  }

  .generalInfoList {
    list-style-type: none;
    padding: 0;
    margin: 0;

    & li {
      display: flex;
      font-size: 0.85vw;
      color: black;
      font-family: var(--font-akatab), sans-serif;
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-normal);
      gap: 0.25vw;
    }

    & li a {
      text-decoration: none;
      color: black;
      font-weight: var(--font-weight-bold);
    }
  }
}

@media (max-width: 1024px) {
  .generalInfoBlock {
    margin-left: 0vw;

    & .generalInfoText,
    .generalInfoTitle {
      font-size: 1.8vw;
    }

    & .generalInfoTitle {
      margin-top: 2.5vw;
    }
    .generalInfoList {
      & li {
        font-size: 1.8vw;
        gap: 0.5vw;
      }
    }
  }
}

@media (max-width: 576px) {
  .generalInfoBlock {
    & .generalInfoText,
    .generalInfoTitle {
      font-size: 3.2vw;
    }

    & .generalInfoTitle {
      margin-top: 4vw;
    }
    .generalInfoList {
      & li {
        display: block;
        font-size: 3.2vw;
      }
    }
  }
}
