.speakersScreenGeneralMain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3vw;
}

@media (max-width: 1024px) {
  .speakersScreenGeneralMain {
    margin-top: 5vw;
  }
}

.generalInfoBlock {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .generalInfoText,
  .generalInfoTitle {
    display: flex;
    font-size: 0.85vw;
    color: white;
    font-family: var(--font-hankenGrotesk), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    margin: 0;
  }

  & .generalInfoTitle {
    margin-top: 1vw;
  }

  .generalInfoList {
    list-style-type: none;
    padding: 0;
    margin: 0;

    & li {
      display: flex;
      font-size: 0.85vw;
      color: white;
      font-family: var(--font-hankenGrotesk), sans-serif;
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-normal);
      gap: 0.25vw;
    }

    & li a {
      text-decoration: none;
      color: #ffea00;
      font-weight: var(--font-weight-bold);
    }
  }
}

@media (max-width: 1024px) {
  .generalInfoBlock {
    & .generalInfoText,
    .generalInfoTitle {
      font-size: 1.8vw;
      text-align: center;
    }

    & .generalInfoTitle {
      margin-top: 4vw;
    }

    .generalInfoList {
      margin-top: 2vw;

      & li {
        font-size: 1.8vw;
        gap: 0.5vw;
      }
    }
  }
}

@media (max-width: 576px) {
  .generalInfoBlock {
    & .generalInfoText,
    .generalInfoTitle {
      font-size: 3.6vw;
    }

    & .generalInfoTitle {
      margin-top: 8vw;
    }

    .generalInfoList {
      margin-top: 5vw;

      & li {
        display: block;
        font-size: 3.6vw;
        gap: 1vw;
      }
    }
  }
}
