.priceScreenMain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3vw;
  gap: 2vw;
}

@media (max-width: 1024px) {
  .priceScreenMain {
    flex-direction: column;
    align-items: center;
    gap: 5vw;
    margin-top: 4vw;
  }
}

@media (max-width: 576px) {
  .priceScreenMain {
    margin-top: 6vw;
  }
}

.priceScreenCard {
  display: flex;
  width: 18vw;
  flex-direction: column;
  background-color: #2f344d;
  padding: 1.5vw;
  border-radius: 0.5vw;
  position: relative;

  & .discountPercentBlock {
    position: absolute;
    top: -1.5vw;
    left: -1.5vw;

    & .discountPercentBlockRelative {
      display: flex;
      position: relative;

      & img {
        width: 6.5vw;
      }

      & h6 {
        display: flex;
        position: absolute;
        top: 28%;
        left: 15%;
        font-size: 1.55vw;
        color: white;
        font-family: var(--font-albertSans), sans-serif;
        font-weight: var(--font-weight-normal);
        line-height: var(--font-lineh-normal);
      }
    }
  }

  & img {
    width: 100%;
    border-radius: 0.5vw;
  }
}

@media (max-width: 1024px) {
  .priceScreenCard {
    width: 50%;
    padding: 3vw;
    border-radius: 1vw;

    & img {
      width: 100%;
      border-radius: 1vw;
    }
  }
}

@media (max-width: 576px) {
  .priceScreenCard {
    width: 100%;
    padding: 5vw;
    border-radius: 1vw;

    & img {
      width: 100%;
      border-radius: 1vw;
    }
  }
}

.infoCourseBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1vw;
}

@media (max-width: 1024px) {
  .infoCourseBlock {
    margin-top: 3vw;
  }
}

@media (max-width: 576px) {
  .infoCourseBlock {
    margin-top: 5vw;
  }
}

.infoCourseName {
  display: flex;
  flex-direction: column;
  width: 50%;

  & h6 {
    display: flex;
    font-size: 0.85vw;
    color: white;
    font-family: var(--font-albertSans), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    text-transform: lowercase;
  }

  & h3 {
    display: flex;
    font-size: 1.2vw;
    color: white;
    font-family: var(--font-alata), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    text-transform: uppercase;
  }
}

@media (max-width: 1024px) {
  .infoCourseName {
    width: 50%;

    & h6 {
      font-size: 1.8vw;
    }

    & h3 {
      font-size: 3vw;
    }
  }
}

@media (max-width: 576px) {
  .infoCourseName {
    width: 50%;

    & h6 {
      font-size: 3.6vw;
    }

    & h3 {
      font-size: 5vw;
    }
  }
}

.infoCourseNameSpeakers {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
  flex-wrap: wrap;
  gap: 0.25vw;

  & p {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8vw;
    color: white;
    font-family: var(--font-albertSans), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    margin: 0;

    &.colorOrange {
      color: #ec6532;
    }
  }
}

@media (max-width: 1024px) {
  .infoCourseNameSpeakers {
    width: 50%;
    gap: 1vw;

    & p {
      font-size: 1.8vw;
    }
  }
}

@media (max-width: 576px) {
  .infoCourseNameSpeakers {
    width: 50%;
    gap: 1.5vw;

    & p {
      font-size: 3.4vw;
    }
  }
}

.infoCourseButtonPriceBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2vw;

  & .availableText {
    font-size: 1vw;
    color: red;
    font-family: var(--font-alata), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-small);
    margin: 0;
  }

  & .buttonBuy {
    display: flex;
    font-size: 0.85vw;
    color: white;
    border: 0;
    font-family: var(--font-albertSans), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    background-color: #ec6532;
    padding: 0.4vw 1.5vw;
    text-align: center;
    border-radius: 0.25vw;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0vw 1vw 0vw #ec6532;
    }
  }

  & .priceProductBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  & .priceProduct {
    display: flex;
    font-size: 1.8vw;
    color: white;
    font-family: var(--font-alata), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-small);

    &.priceProductLine {
      font-size: 1.4vw;
      color: #919191;
      text-decoration: line-through;
    }
  }
}

@media (max-width: 1024px) {
  .infoCourseButtonPriceBlock {
    margin-top: 4vw;

    & .buttonBuy {
      font-size: 2.2vw;
      padding: 1.2vw 4.5vw;
      border-radius: 0.5vw;
      transition: 0s ease-in-out;

      &:hover {
        box-shadow: none;
      }
    }

    & .priceProduct {
      font-size: 5vw;

      &.priceProductLine {
        font-size: 4vw;
      }
    }
  }
}

@media (max-width: 576px) {
  .infoCourseButtonPriceBlock {
    margin-top: 5vw;

    & .buttonBuy {
      font-size: 4vw;
      padding: 1.5vw 6vw;
      border-radius: 0.75vw;
    }

    & .priceProduct {
      font-size: 8vw;

      &.priceProductLine {
        font-size: 6vw;
      }
    }
  }
}
