.priceScreenMain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3vw;
}

@media (max-width: 1024px) {
  .priceScreenMain {
    margin-top: 4vw;
  }
}

.priceScreenCard {
  display: flex;
  width: 18vw;
  flex-direction: column;
  background-color: #2f344d;
  padding: 1.5vw;
  border-radius: 0.5vw;

  & img {
    width: 100%;
    border-radius: 0.5vw;
  }
}

@media (max-width: 1024px) {
  .priceScreenCard {
    width: 50%;
    padding: 3vw;
    border-radius: 1vw;

    & img {
      width: 100%;
      border-radius: 1vw;
    }
  }
}

.infoCourseBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1vw;
}

@media (max-width: 1024px) {
  .infoCourseBlock {
    margin-top: 3vw;
  }
}

.infoCourseName {
  display: flex;
  flex-direction: column;
  width: 50%;

  & h6 {
    display: flex;
    font-size: 0.85vw;
    color: white;
    font-family: var(--font-albertSans), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    text-transform: lowercase;
  }

  & h3 {
    display: flex;
    font-size: 1.2vw;
    color: white;
    font-family: var(--font-alata), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    text-transform: uppercase;
  }
}

@media (max-width: 1024px) {
  .infoCourseName {
    width: 50%;

    & h6 {
      font-size: 1.8vw;
    }

    & h3 {
      font-size: 3vw;
    }
  }
}

.infoCourseNameSpeakers {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
  flex-wrap: wrap;
  gap: 0.25vw;

  & p {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8vw;
    color: white;
    font-family: var(--font-albertSans), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    margin: 0;

    &.colorOrange {
      color: #ec6532;
    }
  }
}

@media (max-width: 1024px) {
  .infoCourseNameSpeakers {
    width: 50%;
    gap: 1vw;

    & p {
      font-size: 1.8vw;
    }
  }
}

.infoCourseButtonPriceBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vw;

  & .buttonBuy {
    display: flex;
    font-size: 0.85vw;
    color: white;
    font-family: var(--font-albertSans), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    background-color: #ec6532;
    padding: 0.4vw 1.5vw;
    text-align: center;
    border-radius: 0.25vw;
    transition: 0.3s ease-in-out;

    &:hover {
      box-shadow: 0px 0vw 1vw 0vw #ec6532;
    }
  }

  & h5 {
    display: flex;
    font-size: 1.8vw;
    color: white;
    font-family: var(--font-alata), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
  }
}

@media (max-width: 1024px) {
  .infoCourseButtonPriceBlock {
    margin-top: 4vw;

    & .buttonBuy {
      font-size: 2.2vw;
      padding: 1.2vw 4.5vw;
      border-radius: 0.5vw;
      transition: 0s ease-in-out;

      &:hover {
        box-shadow: none;
      }
    }

    & h5 {
      font-size: 5vw;
    }
  }
}
