.footerMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5vw 0;
}

@media (max-width: 1024px) {
  .footerMain {
    display: flex;
    flex-direction: column-reverse;
    padding: 8vw 0;
  }
}

@media (max-width: 576px) {
  .footerMain {
    padding: 15vw 0;
    padding-bottom: 10vw;
  }
}

.footerColumnRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-left: 10vw;
}

@media (max-width: 1024px) {
  .footerColumnRow {
    margin-left: 0vw;
  }
}

.footerColumn {
  display: flex;
  flex-direction: column;

  &.footerColumnPhone {
    display: none;
  }

  &.firstChild {
    width: 35%;
  }

  & img {
    display: flex;
    width: 11vw;
  }

  & .footerScreenGeneralInfo {
    display: flex;
    font-size: 0.7vw;
    color: white;
    font-family: var(--font-hankenGrotesk), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    opacity: 0.5;
    margin-top: 2vw;
  }

  & h4 {
    display: flex;
    font-size: 1.2vw;
    color: white;
    font-family: var(--font-hankenGrotesk), sans-serif;
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-normal);
  }

  & .footerScreenBlockInfo {
    display: flex;
    flex-direction: column;
    margin-top: 1.5vw;

    a {
      display: flex;
      color: white;
      text-decoration: none;
      margin-top: 0.5vw;
      transition: 0.3s;

      &:first-child {
        margin-top: 0;
      }

      &:hover {
        opacity: 0.5;
      }

      & h6 {
        display: flex;
        font-size: 0.85vw;
        color: white;
        font-family: var(--font-hankenGrotesk), sans-serif;
        font-weight: var(--font-weight-normal);
        line-height: var(--font-lineh-normal);
      }
    }
  }

  & .footerScreenBlockIcons {
    display: flex;
    flex-direction: row;
    gap: 1.4vw;
    margin-top: 1.5vw;

    & .footerScreenBlockIcon {
      display: flex;
      width: 1.1vw;
      height: 1.1vw;
      fill: white;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

@media (max-width: 1024px) {
  .footerColumn {
    align-items: center;

    &.firstChild {
      width: 100%;
      margin-top: 4vw;
    }

    & img {
      display: flex;
      width: 20vw;
    }

    & .footerScreenGeneralInfo {
      text-align: center;
      font-size: 1.6vw;
      margin-top: 2vw;
      width: 70%;
    }

    & h4 {
      font-size: 2.2vw;
    }

    & .footerScreenBlockInfo {
      margin-top: 3vw;

      a {
        margin-top: 1.5vw;

        &:hover {
          opacity: 1;
        }

        & h6 {
          font-size: 1.8vw;
        }
      }
    }

    & .footerScreenBlockIcons {
      gap: 3vw;
      margin-top: 3vw;

      & .footerScreenBlockIcon {
        width: 2.2vw;
        height: 2.2vw;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .footerColumn {
    &.footerColumnNone {
      display: none;
    }

    &.footerColumnPhone {
      display: flex;
      margin-top: 8vw;
    }

    &.firstChild {
      width: 100%;
      margin-top: 15vw;
    }

    & img {
      width: 35vw;
    }

    & .footerScreenGeneralInfo {
      font-size: 3vw;
      margin-top: 5vw;
      width: 100%;
    }

    & h4 {
      font-size: 3.6vw;
    }

    & .footerScreenBlockInfo {
      margin-top: 3vw;

      a {
        margin-top: 3vw;

        & h6 {
          font-size: 3.6vw;
        }
      }
    }

    & .footerScreenBlockIcons {
      gap: 5vw;
      margin-top: 3vw;

      & .footerScreenBlockIcon {
        width: 4vw;
        height: 4vw;
      }
    }
  }
}
