.whatsInsideBlock {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  margin-top: 1vw;
}

@media (max-width: 800px) {
  .whatsInsideBlock {
    margin-top: 2vw;
  }
}

.spoilerBlock {
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  .spoilerBlock {
    margin-top: 1vw;
  }
}

.spoilerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
  padding-bottom: 0.4vw;
  border-bottom: 0.05vw solid black;
}

.spoilerHeaderOpen {
  border-bottom: none;
  padding-bottom: 0vw;

  .insideScreenTitle {
    font-weight: var(--font-weight-bold);
  }
}

.icon {
  transition: transform 0.3s ease;
}

.iconBs {
  transition: transform 0.3s ease;
  width: 0.8vw;
  height: 0.8vw;
}

@media (max-width: 800px) {
  .iconBs {
    width: 1.5vw;
    height: 1.5vw;
  }
}

.insideScreenTitle {
  font-size: 1.2vw;
  color: black;
  font-family: var(--font-akatab), sans-serif;
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  width: 85%;
}

@media (max-width: 800px) {
  .insideScreenTitle {
    font-size: 1.8vw;
    width: 90%;
  }
}

.spoilerContent {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.4s ease-in-out;
}

.spoilerContent.open {
  max-height: 10vw; /* Устанавливаем примерное ограничение */
  opacity: 1;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  border-bottom: 0.05vw solid black;
}

@media (max-width: 800px) {
  .spoilerContent.open {
    max-height: 20vw; /* Устанавливаем примерное ограничение */
    padding-top: 1vw;
    padding-bottom: 1.5vw;
    border-bottom: 0.05vw solid black;
  }
}

.spoilerContent.closed {
  max-height: 0;
  opacity: 0;
}

.insideScreenContent {
  font-size: 0.865vw;
  color: black;
  font-family: var(--font-akatab), sans-serif;
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
}

@media (max-width: 800px) {
  .insideScreenContent {
    font-size: 1.8vw;
  }
}
