.whatsInsideBlock {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  margin-top: 1vw;
}

@media (max-width: 1024px) {
  .whatsInsideBlock {
    margin-top: 2vw;
    &.whatsInsideBlockB {
      margin-top: 5vw;
      padding-bottom: 5vw;
    }
  }
}

@media (max-width: 576px) {
  .whatsInsideBlock {
    margin-top: 6vw;
  }
}

.spoilerBlock {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .spoilerBlock {
    margin-top: 1vw;
  }
}

@media (max-width: 576px) {
  .spoilerBlock {
    margin-top: 3vw;

    &:first-child {
      margin-top: 0;
    }
  }
}

.spoilerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
  padding-bottom: 0.4vw;
  border-bottom: 0.05vw solid black;
}

@media (max-width: 1024px) {
  .spoilerHeader {
    &.spoilerHeaderWhite {
      border-bottom: 0.05vw solid white;
      padding-bottom: 1.5vw;
    }
  }
}

@media (max-width: 576px) {
  .spoilerHeader {
    padding-bottom: 1.5vw;
  }
}

.spoilerHeaderOpen {
  border-bottom: none;
  padding-bottom: 0vw;

  .insideScreenTitle {
    font-weight: var(--font-weight-bold);
  }
}

.icon {
  transition: transform 0.3s ease;
}

.iconBs {
  transition: transform 0.3s ease;
  width: 0.8vw;
  height: 0.8vw;
  fill: black;

  &.iconBsWhite {
    fill: white;
  }
}

@media (max-width: 1024px) {
  .iconBs {
    width: 1.5vw;
    height: 1.5vw;
  }
}

@media (max-width: 576px) {
  .iconBs {
    width: 2.2vw;
    height: 2.2vw;
  }
}

.insideScreenTitle {
  font-size: 1.2vw;
  color: black;
  font-family: var(--font-akatab), sans-serif;
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  width: 85%;
}

@media (max-width: 1024px) {
  .insideScreenTitle {
    font-size: 1.8vw;
    width: 90%;

    &.insideScreenTitleWhite {
      color: white;
    }
  }
}

@media (max-width: 576px) {
  .insideScreenTitle {
    font-size: 3.6vw;
  }
}

.spoilerContent {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.4s ease-in-out;
}

.spoilerContent.open {
  max-height: 10vw; /* Устанавливаем примерное ограничение */
  opacity: 1;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  border-bottom: 0.05vw solid black;
}

@media (max-width: 1024px) {
  .spoilerContent.open {
    max-height: 30vw; /* Устанавливаем примерное ограничение */
    padding-top: 1vw;
    padding-bottom: 1.5vw;
    border-bottom: 0.05vw solid black;

    &.open.openWhite {
      padding-top: 2vw;
      border: none;
    }
  }
}

@media (max-width: 576px) {
  .spoilerContent.open {
    max-height: 80vw; /* Устанавливаем примерное ограничение */
    padding-top: 3vw;
    padding-bottom: 3vw;
    border-bottom: 0.05vw solid black;
  }
}

.spoilerContent.closed {
  max-height: 0;
  opacity: 0;
}

.insideScreenContent {
  font-size: 0.865vw;
  color: black;
  font-family: var(--font-akatab), sans-serif;
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
}

@media (max-width: 1024px) {
  .insideScreenContent {
    font-size: 1.8vw;

    &.insideScreenContentWhite {
      color: white;
    }
  }
}

@media (max-width: 576px) {
  .insideScreenContent {
    font-size: 3.6vw;
  }
}

@media (max-width: 1024px) {
  .intermediaryBuyNow {
    display: none;
  }
}
