.demoVideosContainer {
  display: flex;
  flex-direction: column;
  margin-top: 3vw;
  gap: 1vw;
}

@media (max-width: 1024px) {
  .demoVideosContainer {
    margin-top: 4vw;
    gap: 3vw;
  }
}

.videoBlockMain {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  border-radius: 0.5vw;
  padding: 1.5vw;
}

@media (max-width: 1024px) {
  .videoBlockMain {
    border-radius: 1vw;
    padding: 3vw;
  }
}

.videoBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.videoBlockImageAndText {
  display: flex;
  flex-direction: row;
  gap: 3vw;
}

.videoThumbnail {
  display: flex;
  width: 12vw;
  height: 100%;
  border-radius: 0.5vw;
}

@media (max-width: 1024px) {
  .videoThumbnail {
    display: flex;
    width: 20vw;
    height: 100%;
  }
}

.videoInfo {
  display: flex;
  flex-direction: column;

  .videoInfoIconAndTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;

    & .icon {
      display: flex;
      fill: #ec6532;
      width: 1.3vw;
      height: 1.3vw;
    }

    & h3 {
      display: flex;
      font-size: 1.2vw;
      color: black;
      font-family: var(--font-alata), sans-serif;
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-small);
      text-transform: uppercase;
    }
  }

  & p {
    display: flex;
    font-size: 0.85vw;
    color: black;
    font-family: var(--font-albertSans), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    margin: 0;
    margin-top: 1vw;
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .videoInfo {
    display: flex;
    flex-direction: column;

    .videoInfoIconAndTitle {
      & .icon {
        display: none;
      }

      & h3 {
        font-size: 2.8vw;
        width: 50%;
        line-height: var(--font-lineh-normal);
      }
    }

    & p {
      &.descriptionText {
        display: none;
      }
    }
  }
}

.descriptionTextPhone {
  display: none;
}

@media (max-width: 1024px) {
  .descriptionTextPhone {
    display: flex;
    font-size: 1.8vw;
    color: black;
    font-family: var(--font-albertSans), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    margin: 0;
    margin-top: 3vw;
    width: 90%;
  }
}

.watchButton {
  display: flex;
  font-size: 0.85vw;
  color: black;
  font-family: var(--font-albertSans), sans-serif;
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  border-radius: 0.25vw;
  height: 100%;
  padding: 0.3vw 1.6vw;
  background-color: #ec6532;
  transition: 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 0vw 1vw 0vw #ec6532;
  }
}

@media (max-width: 1024px) {
  .watchButton {
    font-size: 2vw;
    border-radius: 0.5vw;
    padding: 0.75vw 4vw;
    transition: 0s ease-in-out;

    &:hover {
      box-shadow: none;
    }
  }
}
