.viewCourseScreen {
  display: flex;
  flex-direction: column;
  margin-top: 3vw;
  gap: 4vw;
  padding-bottom: 3vw;
}

@media (max-width: 1024px) {
  .viewCourseScreen {
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
    gap: 4vw;
    padding-bottom: 5vw;
  }
}

.viewCourseScreenBlockRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 5vw;

  & iframe {
    display: flex;
    width: 48%;
    height: 18.6vw;
    border: 0.01vw solid black;
    border-radius: 1vw;
    transition: 0.5s;
    filter: brightness(0.7);

    &:hover {
      filter: brightness(1);
    }
  }
}

@media (max-width: 1024px) {
  .viewCourseScreenBlockRow {
    flex-direction: column-reverse;
    align-items: center;
    gap: 4vw;

    &.viewCourseScreenBlockRowNoReverse {
      flex-direction: column;
    }

    & iframe {
      width: 60%;
      height: 23.1vw;
      border: none;
      border-radius: 2vw;
      filter: brightness(1);
    }
  }
}

.viewCourseScreenList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 2vw;
  width: 43%;

  & li {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;

    & h5 {
      font-size: 0.85vw;
      color: white;
      font-family: var(--font-hankenGrotesk), sans-serif;
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-normal);
    }
  }
}

@media (max-width: 1024px) {
  .viewCourseScreenList {
    gap: 4vw;
    width: 100%;

    & li {
      display: flex;
      flex-direction: row;
      gap: 0.5vw;

      & h5 {
        font-size: 1.8vw;
      }
    }
  }
}
