.displayPcAndTablet {
  display: flex;
}

.displayPhone {
  display: none;
}

@media (max-width: 576px) {
  .displayPcAndTablet {
    display: none;
  }

  .displayPhone {
    display: flex;
  }
}
