.speakersContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 3vw;
}

@media (max-width: 1024px) {
  .speakersContainer {
    gap: 6vw;
    margin-top: 4vw;
  }
}

@media (max-width: 576px) {
  .speakersContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 6vw;
    gap: 8vw;
  }
}

.speaker {
  display: flex;
  flex-direction: column;
  background: #efefef;
  width: 25%;
  border-radius: 0.5vw;
  padding: 1.25vw;
}

@media (max-width: 1024px) {
  .speaker {
    width: 50%;
    border-radius: 1vw;
    padding: 3vw;
  }
}

@media (max-width: 576px) {
  .speaker {
    display: flex;
    width: 87%;
    padding: 5vw;
    border-radius: 1.5vw;
  }
}

.general {
  display: flex;
  flex-direction: column;
  width: 25%;
  background: #efefef;
  border-radius: 0.5vw;
  padding: 1.25vw;
}

.generalPhone {
  display: none;
}

@media (max-width: 1024px) {
  .general {
    display: none;
  }

  .generalPhone {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .generalPhone {
    display: none;
  }

  .general {
    display: flex;
    width: 87%;
    padding: 5vw;
    border-radius: 1.5vw;
  }
}
