.footerScreenBlockColumn {
  display: flex;
  flex-direction: column;
}

.footerScreenBlocks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15vw;
}

@media (max-width: 1024px) {
  .footerScreenBlocks {
    flex-direction: column;
    gap: 5vw;
  }
}

.footerScreenBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;

  & h5 {
    font-size: 1.25vw;
    color: white;
    font-family: var(--font-akatab), sans-serif;
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-normal);
  }
}

@media (max-width: 1024px) {
  .footerScreenBlock {
    gap: 1.5vw;

    & h5 {
      font-size: 2.6vw;
    }
  }
}

.footerScreenBlockIcons {
  display: flex;
  flex-direction: row;
  gap: 3vw;
}

.footerScreenBlockIcon {
  width: 1.2vw;
  height: 1.2vw;
  fill: white;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    fill: #0055ff;
  }
}

@media (max-width: 1024px) {
  .footerScreenBlockIcons {
    display: flex;
    flex-direction: row;
    gap: 5vw;
  }

  .footerScreenBlockIcon {
    width: 2.5vw;
    height: 2.5vw;

    &:hover {
      fill: white;
    }
  }
}

.footerScreenBlockInfoColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vw;
}

@media (max-width: 1024px) {
  .footerScreenBlockInfoColumn {
    margin-top: 6.5vw;
  }
}

.footerScreenBlockInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3vw;

  & h6 {
    font-size: 0.8vw;
    color: white;
    font-family: var(--font-akatab), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    opacity: 1;
    transition: 0.3s;
  }

  & h6:hover {
    opacity: 0.5;
  }
}

@media (max-width: 1024px) {
  .footerScreenBlockInfo {
    gap: 5vw;

    & h6 {
      font-size: 1.6vw;
    }

    & h6:hover {
      opacity: 1;
    }
  }
}

.footerScreenGeneralInfo {
  font-size: 0.65vw;
  color: white;
  font-family: var(--font-akatab), sans-serif;
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  margin-top: 1vw;
  opacity: 0.5;
}

@media (max-width: 1024px) {
  .footerScreenGeneralInfo {
    width: 85%;
    font-size: 1.4vw;
    margin-top: 1vw;
    text-align: center;
    opacity: 0.5;
  }
}

// form

.footerScreenBlockForm {
  display: flex;
  flex-direction: column;

  & input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 0.85vw;
    background-color: #656565;
    border-radius: 0.25vw;
    color: white;
    padding: 0.5vw 1vw;
    border: 0;
    font-family: var(--font-akatab), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    outline: none;
  }

  & input::placeholder {
    color: white;
  }

  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vw 1.5vw;
    border: 0;
    font-size: 0.85vw;
    background: #0055ff;
    color: white;
    font-family: var(--font-akatab), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    border-radius: 0.25vw;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
  }

  & button:hover {
    box-shadow: 0px 0vw 1vw 0vw #0055ff;
  }

  & button:disabled {
    opacity: 0.5;
  }
}

@media (max-width: 1024px) {
  .footerScreenBlockForm {
    & input {
      font-size: 1.4vw;
      border-radius: 0.4vw;
      padding: 0.9vw 1.5vw;
    }

    & button {
      padding: 0.5vw 2.25vw;
      font-size: 1.4vw;
      border-radius: 0.4vw;
    }

    & button:hover {
      box-shadow: none;
    }
  }
}

.footerScreenBlockInput {
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
}

.errorMessage {
  display: flex;
  color: red !important;
  font-size: 0.85vw;
}

@media (max-width: 1024px) {
  .errorMessage {
    display: flex;
    color: red;
    font-size: 1.6vw;
  }
}
