.intermediaryBuyNowBlockMain {
  display: none;
}

@media (max-width: 1024px) {
  .intermediaryBuyNowBlockMain {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 4vw;
  }

  .intermediaryBuyNowBlockMainGap {
    margin-top: 6.5vw;
  }

  .intermediaryBuyNowBlock {
    display: flex;
    flex-direction: column;

    & h5,
    & h6 {
      display: flex;
      font-size: 2vw;
      color: black;
      font-family: var(--font-akatab), sans-serif;
      font-weight: var(--font-weight-bold);
      line-height: var(--font-lineh-normal);
      padding: 0;
      margin: 0;
    }

    & .whiteText {
      display: flex;
      color: white;
      font-size: 1.8vw;
    }

    & h6 {
      font-weight: var(--font-weight-normal);
    }

    & a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2vw;
      padding: 1vw 4.5vw;
      color: white;
      font-family: var(--font-akatab), sans-serif;
      font-weight: var(--font-weight-bold);
      line-height: var(--font-lineh-normal);
      text-transform: uppercase;
      background-color: #d74f3e;
      text-align: center;
      border-radius: 0.5vw;
      margin-top: 0.5vw;
    }
  }
}

@media (max-width: 576px) {
  .intermediaryBuyNowBlockMain {
    margin-top: 6vw;
  }

  .intermediaryBuyNowBlockMainGap {
    width: 80%;
    margin-top: 0vw;
  }

  .intermediaryBuyNowBlock {
    & h5,
    & h6 {
      font-size: 3.6vw;
    }

    & .whiteText {
      font-size: 3.6vw;
    }

    & a {
      font-size: 3.6vw;
      padding: 1.2vw 5vw;
      text-transform: none;
    }

    &.intermediaryBuyNowBlockBlue a {
      background-color: #0055ff;
    }

    & .whiteTextNone {
      display: none;
    }
  }
}
