.sliderContainer {
  display: none;
}

@media (max-width: 576px) {
  .sliderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}

.sliderButtonsAndTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 2vw;

  & .sliderButtonsTitle {
    font-size: 1.2vw;
    color: white;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-small);
  }

  & .sliderButtons {
    display: flex;
    flex-direction: row;
    gap: 1vw;

    & .sliderButton {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(38, 255, 0, 0.2);
      border: 0.05vw solid #26ff00;
      border-radius: 0.15vw;
      font-size: 0.85vw;
      color: #26ff00;
      transition: 0.3s ease-in-out;
      cursor: pointer;
      padding: 0;
      padding: 0vw 0.1vw;

      &:hover {
        color: black;
        background-color: #26ff00;
      }

      & .sliderIcon {
        width: 0.9vw;
        height: 0.9vw;
      }
    }
  }
}

@media (max-width: 1024px) {
  .sliderButtonsAndTitle {
    margin-top: 6vw;

    & .sliderButtonsTitle {
      font-size: 2.4vw;
      font-weight: var(--font-weight-bold);
    }

    & .sliderButtons {
      gap: 2vw;

      & .sliderButton {
        border-radius: 0.5vw;
        font-size: 1.8vw;
        padding: 0vw 0.1vw;

        & .sliderIcon {
          width: 2.4vw;
          height: 2.4vw;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .sliderButtonsAndTitle {
    margin-top: 10vw;

    & .sliderButtonsTitle {
      font-size: 4.2vw;
    }

    & .sliderButtons {
      gap: 4vw;

      & .sliderButton {
        border-radius: 1vw;
        font-size: 3.6vw;
        padding: 0.3vw 0.3vw;

        & .sliderIcon {
          width: 4vw;
          height: 4vw;
        }
      }
    }
  }
}

.sliderWrapper {
  overflow: hidden;
  width: 100%;
  margin-top: 2vw;

  & .sliderTrack {
    display: flex;
    width: calc(100%); // Учитываем дублирующие элементы
    gap: 1.85vw;
  }

  & .sliderItem {
    display: flex;
    flex-direction: column;
    flex: 0 0 21%; // 25% ширины для 4 элементов
    box-sizing: border-box;

    & .productImageBlock {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 123, 0, 0.2);
      border: 0.05vw solid #ff7b00;
      border-radius: 0.5vw;
      width: 100%;
      height: 6vw;

      & .productImage {
        width: 75%;
        height: auto;
      }
    }

    & .productName {
      font-size: 1vw;
      color: white;
      font-family: var(--font-roboto);
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-small);
      text-transform: uppercase;
      margin-top: 1vw;
    }

    & .productCategory {
      font-size: 0.8vw;
      color: #ff7b00;
      font-family: var(--font-roboto);
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-small);
      margin: 0;
      margin-top: 0.5vw;
    }

    & .priceContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 1vw;

      &.priceContainerFlexEnd {
        justify-content: flex-end;
      }

      & .originalPrice {
        font-size: 1.2vw;
        color: white;
        font-family: var(--font-roboto);
        font-weight: var(--font-weight-normal);
        line-height: var(--font-lineh-small);

        &.originalPriceLine {
          font-size: 1vw;
          color: #919191;
          text-decoration: line-through;
        }
      }

      & .discountedPrice {
        font-size: 1.2vw;
        color: white;
        font-family: var(--font-roboto);
        font-weight: var(--font-weight-normal);
        line-height: var(--font-lineh-small);
      }
    }

    & .availableText {
      font-size: 1vw;
      color: red;
      font-family: var(--font-alata), sans-serif;
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-small);
      margin: 0;
    }
  }
}

@media (max-width: 1024px) {
  .sliderWrapper {
    overflow: hidden;
    width: 100%;
    margin-top: 3vw;

    & .sliderTrack {
      display: flex;
      width: calc(100%); // Учитываем дублирующие элементы
      gap: 2.8vw;
    }

    & .sliderItem {
      flex: 0 0 22%; // 25% ширины для 4 элементов

      & .productImageBlock {
        border-radius: 0.75vw;
        width: 100%;
        height: 12vw;

        & .productImage {
          width: 65%;
          height: auto;
        }
      }

      & .productName {
        font-size: 2vw;
        margin-top: 2.5vw;
      }

      & .productCategory {
        font-size: 1.8vw;
        margin-top: 1vw;
      }

      & .priceContainer {
        margin-top: 2.5vw;

        & .originalPrice {
          font-size: 2.4vw;

          &.originalPriceLine {
            font-size: 1.9vw;
          }
        }

        & .discountedPrice {
          font-size: 2.4vw;
        }
      }

      & .availableText {
        font-size: 2vw;
      }
    }
  }
}

@media (max-width: 576px) {
  .sliderWrapper {
    overflow: hidden;
    width: 100%;
    margin-top: 3vw;

    & .sliderTrack {
      display: flex;
      width: calc(100%); // Учитываем дублирующие элементы
      gap: 1vw;
    }

    & .sliderItem {
      flex-direction: row;
      flex: 0 0 99%; // 25% ширины для 4 элементов
      padding: 4vw 4vw;
      border-radius: 3vw;
      gap: 4vw;
      border: 0.1vw solid #ec6532;

      & .productImageBlock {
        border-radius: 0.75vw;
        width: 45%;
        height: 35vw;

        & .productImage {
          width: 85%;
          height: auto;
        }
      }

      & .productInfoBlockColumn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .productNameAndProductCategory {
          display: flex;
          flex-direction: column;
          & .productName {
            font-size: 3.8vw;
            margin-top: 0vw;
          }

          & .productCategory {
            font-size: 3.4vw;
            margin-top: 1vw;
          }
        }

        & .priceContainer {
          flex-direction: column;
          justify-content: flex-start;
          margin-top: 5vw;

          & .originalPrice {
            font-size: 4.2vw;

            &.originalPriceLine {
              font-size: 3.6vw;
            }
          }

          & .discountedPrice {
            margin-top: 1vw;
            font-size: 4.2vw;
          }
        }
      }

      & .availableText {
        font-size: 2vw;
      }
    }
  }
}

.addButton {
  width: 100%;
  background-color: #ff7b00;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6vw 1.35vw;
  border-radius: 0.3vw;
  font-size: 0.85vw;
  color: white;
  font-family: var(--font-roboto);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-small);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-top: 1.2vw;

  &:hover {
    box-shadow: 0px 0vw 1vw 0vw #ec6532;
  }
}

@media (max-width: 1024px) {
  .addButton {
    padding: 1.2vw 1.35vw;
    border-radius: 0.75vw;
    font-size: 1.8vw;
    margin-top: 2vw;

    &:hover {
      box-shadow: none;
    }
  }
}

@media (max-width: 576px) {
  .addButton {
    padding: 1.6vw 4vw;
    border-radius: 1vw;
    font-size: 3.6vw;
    margin-top: 5vw;
  }
}
