.gameBlockMain {
  margin-top: 1vw;

  &.center {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 3vw;
    padding-bottom: 3vw;
  }
}

.gameBlockMainB {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

@media (max-width: 1024px) {
  .gameBlockMain {
    margin-top: 3vw;
  }
}

@media (max-width: 576px) {
  .gameBlockMain {
    margin-top: 6vw;
  }
}

.generalTextForGames {
  margin-top: 1vw;
  font-size: 0.85vw;
  color: black;
  font-family: var(--font-akatab), sans-serif;
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);

  &.generalTextForGamesB {
    display: flex;
    color: white;
    font-family: var(--font-hankenGrotesk), sans-serif;
    text-align: center;
    margin-top: 3vw;
    width: 70%;
  }
}

@media (max-width: 1024px) {
  .generalTextForGames {
    margin-top: 3vw;
    font-size: 1.8vw;
  }
}

@media (max-width: 576px) {
  .generalTextForGames {
    margin-top: 5vw;
    font-size: 3.6vw;
  }
}
