.headScreenTitle {
  display: flex;
  flex-direction: column;
  padding-top: 8vw;
  width: 60.5%;

  & .categoryCourseText {
    display: flex;
    font-size: 1.25vw;
    color: white;
    font-family: var(--font-akatab), sans-serif;
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-normal);
    text-transform: uppercase;
  }

  & .nameCourseText {
    display: flex;
    font-size: 3.4vw;
    color: white;
    font-family: var(--font-akatab), sans-serif;
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-small);
  }

  & .descriptionCourseText {
    display: flex;
    font-size: 0.85vw;
    color: white;
    font-family: var(--font-akatab), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    margin-top: 1vw;
    width: 75%;
  }
}
