.headScreenMainBlockRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 6vw;
}

.headScreenTitle {
  display: flex;
  flex-direction: column;
  padding-top: 8vw;
  width: 60.5%;

  &.headScreenTitleB {
    padding-top: 14vw;
    width: 100%;
  }

  &.headScreenTitleC {
    padding-top: 0vw;
    width: 60.5%;
  }

  & .headScreenCourseInfoB {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & .headScreenCourseInfoC {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  & .categoryCourseText {
    display: flex;
    font-size: 1.25vw;
    color: white;
    font-family: var(--font-akatab), sans-serif;
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-normal);
    text-transform: uppercase;

    &.categoryCourseTextB {
      font-size: 1.15vw;
      font-family: var(--font-hankenGrotesk), sans-serif;
    }

    &.categoryCourseTextC {
      font-size: 1.25vw;
      font-family: var(--font-alata), sans-serif;
      font-weight: var(--font-weight-normal);
    }
  }

  & .nameCourseText {
    display: flex;
    font-size: 3.4vw;
    color: white;
    font-family: var(--font-akatab), sans-serif;
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-small);

    &.nameCourseTextB {
      font-size: 4vw;
      text-align: center;
      font-family: var(--font-hankenGrotesk), sans-serif;
      width: 70%;
    }
  }

  & .nameCoursePhone {
    display: none;
  }

  & .descriptionCourseText {
    display: flex;
    font-size: 0.85vw;
    color: white;
    font-family: var(--font-akatab), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    margin-top: 1vw;
    width: 75%;

    &.descriptionCourseTextB {
      text-align: center;
      font-family: var(--font-hankenGrotesk), sans-serif;
      width: 50%;
      margin-top: 1.25vw;
    }

    &.descriptionCourseTextC {
      font-family: var(--font-albertSans), sans-serif;
      width: 75%;
      margin-top: 1.5vw;
    }
  }

  & .headScreenButtonAnswer {
    display: flex;
    font-size: 0.85vw;
    color: white;
    font-family: var(--font-hankenGrotesk), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    background-color: #ff0000;
    padding: 0.5vw 2.25vw;
    border-radius: 2vw;
    margin-top: 1.5vw;
    transition: 0.5s ease-in-out;

    &:hover {
      box-shadow: 0px 0vw 1vw 0vw #ff0000;
    }
  }

  & .headScreenButtonMoreInfo {
    display: flex;
    width: auto;
    font-size: 0.85vw;
    color: white;
    font-family: var(--font-hankenGrotesk), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    background-color: #ec6532;
    padding: 0.5vw 1.5vw;
    border-radius: 0.25vw;
    margin-top: 1.5vw;
    transition: 0.5s ease-in-out;

    &:hover {
      box-shadow: 0px 0vw 1vw 0vw #ec6532;
    }
  }
}

.headScreenTitle {
  & .nameCourseTextB {
    display: flex;
    font-size: 3.4vw;
    color: white;
    font-family: var(--font-akatab), sans-serif;
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-small);
  }
}

.headScreenVideoPhone {
  display: none;
}

@media (max-width: 1024px) {
  .headScreenTitle {
    justify-content: center;
    align-items: center;
    padding-top: 14vw;
    width: 100%;

    &.headScreenTitleB {
      padding-top: 14vw;
      width: 100%;
    }

    &.headScreenTitleC {
      padding-top: 4vw;
      text-align: center;
      width: 100%;
    }

    & .headScreenCourseInfoC {
      align-items: center;
    }

    & .categoryCourseText {
      font-size: 2.8vw;
      margin-top: 6vw;

      &.categoryCourseTextB {
        font-size: 2.8vw;
      }

      &.categoryCourseTextC {
        margin-top: 2vw;
        font-size: 2vw;
        font-family: var(--font-albertSans), sans-serif;
      }
    }

    & .nameCourseText {
      display: none;
    }

    & .nameCoursePhone {
      display: flex;
      font-size: 8vw;
      color: white;
      font-family: var(--font-akatab), sans-serif;
      font-weight: var(--font-weight-bold);
      line-height: var(--font-lineh-small);

      &.nameCoursePhoneB {
        text-align: center;
      }

      &.nameCoursePhoneC {
        width: 60%;
        font-size: 7vw;
        font-family: var(--font-alata), sans-serif;
        font-weight: var(--font-weight-normal);
      }
    }

    & .descriptionCourseText {
      font-size: 1.8vw;
      margin-top: 2vw;
      width: 85%;

      &.descriptionCourseTextB {
        width: 73%;
        margin-top: 3vw;
      }

      &.descriptionCourseTextC {
        width: 73%;
        margin-top: 2vw;
      }
    }

    & .headScreenButtonAnswer {
      font-size: 1.8vw;
      padding: 0.9vw 4vw;
      border-radius: 3vw;
      margin-top: 3vw;

      &:hover {
        box-shadow: none;
      }
    }

    & .headScreenButtonMoreInfo {
      font-size: 1.8vw;
      padding: 0.9vw 3vw;
      border-radius: 0.5vw;
      margin-top: 6vw;

      &:hover {
        box-shadow: none;
      }
    }
  }

  .headScreenVideoPhone {
    display: flex;
    width: 75%;
    height: 29vw;
    border-radius: 1.5vw;
    border: 0;
  }
}

@media (max-width: 576px) {
  .headScreenTitle {
    padding-top: 16vw;
    width: 100%;

    &.headScreenTitleB {
      padding-top: 14vw;
      width: 100%;
    }

    &.headScreenTitleC {
      padding-top: 14vw;
    }

    & .categoryCourseText {
      font-size: 3.2vw;
      margin-top: 5vw;

      &.categoryCourseTextB {
        font-size: 3.2vw;
      }

      &.categoryCourseTextC {
        margin-top: 5vw;
        font-size: 3.6vw;
      }
    }

    & .nameCoursePhone {
      display: none;

      &.nameCoursePhoneB {
        display: flex;
        width: 100%;
        font-size: 11vw;
      }
    }

    & .nameCourseText {
      display: flex;
      width: 98%;
      font-size: 8vw;

      &.nameCourseTextB {
        display: none;
      }

      &.nameCourseTextC {
        display: flex;
        width: 100%;
        font-size: 11vw;
        font-family: var(--font-alata), sans-serif;
        font-weight: var(--font-weight-normal);
        line-height: var(--font-lineh-small);
      }
    }

    & .descriptionCourseText {
      font-size: 3.6vw;
      margin-top: 4vw;
      width: 100%;

      &.descriptionCourseTextB {
        width: 100%;
        font-size: 3.6vw;
        margin-top: 3vw;
      }

      &.descriptionCourseTextC {
        width: 100%;
        font-size: 3.6vw;
        margin-top: 5vw;
      }
    }

    & .headScreenButtonAnswer {
      font-size: 3.6vw;
      padding: 1.5vw 6vw;
      border-radius: 5vw;
      margin-top: 10vw;
    }

    & .headScreenButtonMoreInfo {
      font-size: 3.6vw;
      padding: 1.5vw 6vw;
      border-radius: 0.75vw;
      margin-top: 6vw;
    }
  }

  .headScreenVideoPhone {
    width: 100%;
    height: 46.3vw;
    border-radius: 2vw;
  }
}

.formForNewsOnEmailC {
  display: flex;
  width: 31.7%;
}

@media (max-width: 1024px) {
  .formForNewsOnEmailC {
    display: none;
  }
}
