.speakerCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  & .speakerCardBlock {
    display: flex;
    flex-direction: column;
  }

  & .speakerImage {
    width: 100%;
    border-radius: 0.5vw;
  }

  & .nameTag {
    display: flex;
    color: black;
    font-size: 0.85vw;
    font-family: var(--font-albertSans), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    margin-top: 1vw;
  }

  & .nameSpeaker {
    display: flex;
    color: black;
    font-size: 1.3vw;
    font-family: var(--font-alata), sans-serif;
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    text-transform: uppercase;
    margin-top: 0.5vw;
  }

  & .speakerCardDescription {
    display: flex;
    flex-direction: column;
    margin-top: 0.5vw;

    & p {
      color: black;
      font-size: 0.85vw;
      font-family: var(--font-albertSans), sans-serif;
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-normal);
      padding: 0;
      margin: 0;
    }
  }

  & .linkedin {
    display: flex;
    width: 7vw;
    justify-content: center;
    padding: 0.5vw 0vw;
    background-color: #ec6532;
    border-radius: 0.25vw;
    margin-top: 1.5vw;
    transition: 0.5s;

    &:hover {
      box-shadow: 0px 0vw 1vw 0vw #ec6532;
    }

    & img {
      width: 4.5vw;
    }
  }
}

@media (max-width: 1024px) {
  .speakerCard {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .speakerImageContainer {
      width: 100%;
      height: 60%;
      overflow: hidden;
      border-radius: 1vw;
    }

    & .speakerImage {
      width: 100%;
      height: auto;
      border-radius: 0vw;
    }

    & .nameTag {
      justify-content: center;
      font-size: 1.8vw;
      margin-top: 2vw;
    }

    & .nameSpeaker {
      justify-content: center;
      font-size: 2.6vw;
      margin-top: 0vw;
    }

    & .speakerCardDescription {
      margin-top: 2vw;

      & p {
        font-size: 1.8vw;
        text-align: center;

        &.phoneMarg {
          margin-top: 2vw;
        }
      }
    }

    & .linkedin {
      width: 17vw;
      padding: 1.2vw 0vw;
      border-radius: 0.5vw;
      margin-top: 3vw;
      transition: 0s;

      &:hover {
        box-shadow: none;
      }

      & img {
        width: 11vw;
      }
    }
  }
}
