@import url('https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {
  margin: 0;
  padding: 0;
  background: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

:root {
  --font-roboto: 'Roboto';
  --font-akatab: 'Akatab';
  --font-hankenGrotesk: 'Hanken Grotesk';
  --font-albertSans: 'Albert Sans';
  --font-alata: 'Alata';
  --font-weight-normal: 400;
  --font-weight-bold: 900;
  --font-lineh-normal: 1.3em;
  --font-lineh-small: 1em;
}
