.burgerIcon {
  display: flex;
  cursor: pointer;
  position: relative;
}

.menuLogoAndIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerIconBurger {
  width: 1.3vw;
  height: 1.3vw;
  fill: white;
  cursor: pointer;
}

.headerIconBurgerNone {
  visibility: hidden;
}

@media (max-width: 1024px) {
  .headerIconBurger {
    width: 4vw;
    height: 4vw;
  }
}

@media (max-width: 576px) {
  .headerIconBurger {
    width: 5.5vw;
    height: 5.5vw;
  }
}

.menuLogo {
  display: flex;
  width: 2.5vw;
}

@media (max-width: 1024px) {
  .menuLogo {
    width: 5.8vw;
  }
}

@media (max-width: 576px) {
  .menuLogo {
    width: 7vw;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #0923327e;
  box-shadow: -0.5vw 0vw 2vw rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(0.5vw);
  width: 17vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(150%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
  padding: 1vw;
  padding-top: 1.8vw;
  border-top-left-radius: 1vw;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .menu {
    width: 35%;
    top: 0;
    padding: 2.5vw;
    padding-top: 1.8vw;
    border-top-left-radius: 2.5vw;
  }
}

@media (max-width: 576px) {
  .menu {
    background: #092332a6;
    width: 50%;
    padding: 2.5vw;
    padding-top: 3vw;
    border-top-left-radius: 3vw;
    padding-bottom: 5vw;
  }
}

.menu.open {
  transform: translateX(0%);
}

.menuListTitle {
  font-size: 0.85vw;
  font-family: var(--font-akatab), sans-serif;
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  color: white;
  margin-top: 1.5vw;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .menuListTitle {
    font-size: 2.6vw;
    margin-top: 3vw;
  }
}

@media (max-width: 576px) {
  .menuListTitle {
    font-size: 3.6vw;
    margin-top: 4vw;
  }
}

.menuList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menuListIconSection {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.7vw;
}

@media (max-width: 1024px) {
  .menuListIconSection {
    gap: 1vw;
  }
}

@media (max-width: 576px) {
  .menuListIconSection {
    gap: 2vw;
  }
}

.menuListIcons {
  fill: white;
  width: 1vw;
  height: 1vw;
}

@media (max-width: 1024px) {
  .menuListIcons {
    width: 2vw;
    height: 2vw;
  }
}

@media (max-width: 576px) {
  .menuListIcons {
    width: 3vw;
    height: 3vw;
  }
}

.menuList li {
  padding: 0.5vw 0.25vw;
  transition: 0.3s;
  border-radius: 0.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .menuList li {
    padding: 1.2vw 0.5vw;
  }
}

@media (max-width: 576px) {
  .menuList li {
    padding: 2vw 0.5vw;
  }
}

.menuListPoint {
  text-decoration: none;
}

.menuListPoint h4,
.menuList a {
  display: flex;
  font-size: 0.85vw;
  font-family: var(--font-akatab), sans-serif;
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  color: white;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
}

.menuList li:hover {
  background-color: #0055ff;
}

@media (max-width: 1024px) {
  .menuListPoint h4,
  .menuList a {
    font-size: 2vw;
  }

  .menuList li:hover {
    background-color: transparent;
  }
}

@media (max-width: 576px) {
  .menuListPoint h4,
  .menuList a {
    font-size: 3.6vw;
  }
}

.menuListNewCourse {
  display: flex;
  color: black;
  font-family: var(--font-akatab), sans-serif;
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  background-color: rgb(0, 189, 116);
  border-radius: 1vw;
  padding: 0.1vw 0.4vw;
  font-size: 0.5vw;
}

@media (max-width: 1024px) {
  .menuListNewCourse {
    border-radius: 1.5vw;
    padding: 0.15vw 1vw;
    font-size: 1.4vw;
  }
}

.menuListIconsAndButtonAuth {
  display: flex;
  flex-direction: column;
}

.menuListSocialIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menuListSocialIcon {
  width: 1vw;
  height: 1vw;
  fill: white;
  transition: 0.3s;
  cursor: pointer;
}

.menuListSocialIcon:hover {
  fill: #0055ff;
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  .menuListSocialIcon {
    width: 2.5vw;
    height: 2.5vw;
  }

  .menuListSocialIcon:hover {
    fill: white;
    transform: scale(1);
  }
}

@media (max-width: 576px) {
  .menuListSocialIcon {
    width: 3.5vw;
    height: 3.5vw;
  }
}

.menuAuthor {
  display: flex;
  justify-content: center;
  background: #0055ff;
  color: white;
  font-family: var(--font-akatab), sans-serif;
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
  font-size: 0.85vw;
  padding: 0.5vw 0.5vw;
  border-radius: 0.5vw;
  margin-top: 1vw;
  transition: 0.3s;
  cursor: pointer;
}

.menuAuthor:hover {
  box-shadow: 0px 0.1vw 1vw 0.1vw #0055ff;
}

@media (max-width: 1024px) {
  .menuAuthor {
    font-size: 2vw;
    padding: 1vw 0.5vw;
    border-radius: 1vw;
    margin-top: 3vw;
  }

  .menuAuthor:hover {
    box-shadow: none;
  }
}

@media (max-width: 576px) {
  .menuAuthor {
    font-size: 3.6vw;
    padding: 1.75vw 0.5vw;
    border-radius: 1vw;
    margin-top: 3.5vw;
  }
}
